.big-container
    .about__row
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_01.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title
                    .about__logo
                        +icon("logo")
                .about__desc Ведущий производитель одежды для беременных и кормящих.
                a(href="#").btn Перейти в каталог
.container
    .about-info__row
        a(href="#").about-info__item
            .about-info__number 2009
            .about-info__desc Год основания копия
        a(href="#").about-info__item
            .about-info__number 50K+
            .about-info__desc Заказов ежегодно
        a(href="#").about-info__item
            .about-info__number 200+
            .about-info__desc Диллеров в 7 странах
        a(href="#").about-info__item
            .about-info__number 700
            .about-info__desc Цветомоделей в сезон
        a(href="#").about-info__item
            .about-info__number 12
            .about-info__desc Патентов на одежду
.big-container
    .about__row.about__row-reverse
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_02.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title Производство
                .about__desc Нашу продукцию мы производим на наших фабриках в России.<br> С удовольствием отправим заказ в любую точку планеты.
.container
    .about__row
        .about__discount
            .about__title Для постоянных покупателей
            .about__desc У нас работает программа лояльности позволяющая сэкономить До 17%
            .about__discount-mark
                span Скидка
.big-container
    .about__row
        .about__col.about__col-8
            .about__item
                img(src="./img/about/about-img_03.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title Производители
                .about__desc Помимо собственной продукции в интернет-магазине представлено белье Российских производителей.
.container
    .about__row
        .about__details
            .about__details-title Наши реквизиты
            .about__details-info
                .about__details-desc
                    span ИП
                    span Фомичев В.А.
                .about__details-desc
                    span ИНН
                    span 773101615987
                .about__details-desc
                    span ОГРНИП
                    span 311774606400281
                .about__details-desc
                    span Р/с <br>
                        span в Сбербанк России ОАО  г.Москва
                    span 4080 2810 4382 6000 4360
                .about__details-desc
                    span БИК
                    span 044 525 225

