.small-container
    h1.page__title Как купить
.big-container
    .buy__box
        .buy__row
            .buy__col
                .buy__number 01
            .buy__col
                .buy__content
                    .buy__title-wrap
                        .buy__title Регистрация или Вход
                        .buy__desc Регистрация происходит автоматически при оформлении первого заказа. Временный пароль будет выслан Вам на указанную почту. Если Вы зарегистрированы, то можете
                            a(href="#") авторизоваться
                            | на сайте под своим логином для получения персональных скидок
                    .buy__img
                        img(src="./img/buy/buy-img_01.jpg" alt="")
    .buy__box
        .buy__row
            .buy__col
                .buy__number 02
            .buy__col
                .buy__content
                    .buy__title-wrap
                        .buy__title Добавить товар в корзину
                        .buy__desc В карточке товара выберите нужный размер и нажмите кнопку «Добавить в корзину». <br> Выбранный товар появиться в корзине в правой части экрана. Нажмите, чтобы оформить заказ.
                    .buy__img
                        img(src="./img/buy/buy-img_02.jpg" alt="")
    .buy__box
        .buy__row
            .buy__col
                .buy__number 03
            .buy__col
                .buy__content
                    .buy__title-wrap
                        .buy__title Корзина
                        .buy__desc В корзине можно изменить количество каждого выбранного товара, удалить ненужные вещи. <br> Если у вас есть промо код на скидку, введите его в соответствующее поле.
                    .buy__img
                        img(src="./img/buy/buy-img_03.jpg" alt="")
    .buy__box
        .buy__row
            .buy__col
                .buy__number 04
            .buy__col
                .buy__content
                    .buy__title-wrap
                        .buy__title Оформление заказа
                        .buy__desc Заполните ваши данные, выберите пункт доставки и способ, которым будет доставлен товар. <br> Выберите способ оплаты и нажмите Оформить заказ.
                    .buy__img
                        img(src="./img/buy/buy-img_04.jpg" alt="")
    .buy__box
        .buy__row
            .buy__col
                .buy__number 05
            .buy__col
                .buy__content
                    .buy__title-wrap
                        .buy__title Заказ <br> оформлен
                        .buy__desc Наш оператор свяжется с Вами в ближайшее время, так же Вам на электронную почту и телефон придет уведомление о Вашем заказе.
