.container
    .breadcrumbs
        a(href="#") Главная
        a(href="#") Каталог
        a(href="#") Одежда для беременных и кормящих
        a(href="#") Платья и сарафаны
        a(href="#") Сарафан "Сефора" для беременных и кормящих; цвет: фиалковый
        span Сарафан «Сефора»
.container.container-card
    .card__row
        .card__col
            a(data-fancybox="gallery" href="./img/card/card-img_01.jpg" rel="gallery").card__img
                img(src="./img/card/card-img_01.jpg" alt="")
            //сюда добавлять остальные фото которые будет видно когда активировать слайдер
            a(data-fancybox="gallery" href="./img/card/card-img_01.jpg" rel="gallery").card__img
                img(src="./img/card/card-img_01.jpg" alt="")
            a(data-fancybox="gallery" href="./img/card/card-img_01.jpg" rel="gallery").card__img
                img(src="./img/card/card-img_01.jpg" alt="")
            a(data-fancybox="gallery" href="./img/card/card-img_01.jpg" rel="gallery").card__img
                img(src="./img/card/card-img_01.jpg" alt="")
            a(data-fancybox="gallery" href="./img/card/card-img_01.jpg" rel="gallery").card__img
                img(src="./img/card/card-img_01.jpg" alt="")
        .card__col
            .card__info
                .card__status
                    +icon("new-ico")
                .card__articles Артикул:
                    span 45206
                .card__name
                    h1 Сарафан «Сефора»
                    span.card__price 3 299 ₽
                    a(href="#").card__delivery Бесплатная доставка*
                .card__color-type Фиалковый
                .card__colors
                    a(href="#").card__goods.current
                        img(src="./img/card/card-goods_01.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_02.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_03.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_01.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_01.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_03.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_01.jpg" alt="")
                    a(href="#").card__goods
                        img(src="./img/card/card-goods_01.jpg" alt="")
                    a(href="#").card__more
                        span
                .card__size
                    .card__size-choice
                        a(href="#").available.current 44
                        a(href="#").available 46
                        a(href="#").available 48
                        a(href="#") 50
                        a(href="#") 52
                    a(href="#").card__size-edit
                        i
                            +icon("body")
                        | Подобрать размер
                .card__size-store
                    span Эти размеры Вы сможете померить в
                    a(href="#") Наших магазинах
                .card__store-box
                    .card__store
                        a(href="#") Москва, Сущевский Вал, 3/5а
                        span Размеры:
                            span 42, 48, 50
                    .card__store-hidden
                        .card__store
                            a(href="#") Москва, Сущевский Вал, 3/5а
                            span Размеры:
                                span 42, 48, 50
                        .card__store
                            a(href="#") Москва, Сущевский Вал, 3/5а
                            span Размеры:
                                span 42, 48, 50
                    a(href="#").card__store-cross
                .card__buttons
                    a(href="#").btn
                        i
                            +icon("bag")
                        | в корзину
                    a(href="#").btn.btn--border купить в один клик
    .card__row
        .card__col
            .card__img
                img(src="./img/card/card-img_02.jpg" alt="")
        .card__col
            .card__info.options
                .card__infobox
                    .card__tabs
                        .card__tab.tab.current(data-tab="tab-1")
                            span Описание
                            .card__cross
                            .card__desc-wrap
                                .card__desc
                                    span Тип:
                                    span для беременных и кормящих
                                .card__desc
                                    span Удобство кормления:
                                    span планка на пуговицах
                                .card__desc
                                    span Материал:
                                    span лен
                                .card__desc
                                    span Длина от плеча:
                                    span 113 см
                                .card__desc
                                    span В комплекте:
                                    span пояс
                            .card__desc-info Рекомендации по уходу: деликатная стирка в стиральной машине при 30°C <br> Сарафан "Сефора" в состав которой входит 100% Лен, можно купить по доступной цене 3 299 ₽ в интернет-магазине «I Love Mum» c доставкой или воспользоваться самовывозом. У нас представлен широкий ассортимент одежды для беременных и кормящих мам. <br> Получить информацию о гарантии и доставке можно у наших операторов по телефону: +7 (495) 988-16-14 или 8 (800) 550-500-1.
                        .card__tab.tab(data-tab="tab-2")
                            span Характеристики
                            .card__cross
                            .card__desc-wrap
                                .card__desc
                                    span Тип:
                                    span для беременных и кормящих
                                .card__desc
                                    span Удобство кормления:
                                    span планка на пуговицах
                                .card__desc
                                    span Материал:
                                    span лен
                                .card__desc
                                    span Длина от плеча:
                                    span 113 см
                                .card__desc
                                    span В комплекте:
                                    span пояс
                            .card__desc-info Рекомендации по уходу: деликатная стирка в стиральной машине при 30°C <br> Сарафан "Сефора" в состав которой входит 100% Лен, можно купить по доступной цене 3 299 ₽ в интернет-магазине «I Love Mum» c доставкой или воспользоваться самовывозом. У нас представлен широкий ассортимент одежды для беременных и кормящих мам. <br> Получить информацию о гарантии и доставке можно у наших операторов по телефону: +7 (495) 988-16-14 или 8 (800) 550-500-1.
                        .card__tab.tab(data-tab="tab-3")
                            span Отзывы
                            span.card__feedback (4)
                            table(align="center").bx_item_detail_rating
                                tbody
                                    tr
                                        td
                                            .bx_item_rating
                                            .bx_stars_container
                                                #bx_vo_9_121085_sBq3II_stars.bx_stars_bg
                                                #bx_vo_9_121085_sBq3II_progr.bx_stars_progress(style="width: 60%;")
                                        td(style="display:none")
                                            span#bx_vo_9_121085_sBq3II_rating.bx_stars_rating_votes ( 1 )
                            .card__cross
                            .card__desc-wrap
                                .card__desc
                                    span Тип:
                                    span для беременных и кормящих
                                .card__desc
                                    span Удобство кормления:
                                    span планка на пуговицах
                                .card__desc
                                    span Материал:
                                    span лен
                                .card__desc
                                    span Длина от плеча:
                                    span 113 см
                                .card__desc
                                    span В комплекте:
                                    span пояс
                            .card__desc-info Рекомендации по уходу: деликатная стирка в стиральной машине при 30°C <br> Сарафан "Сефора" в состав которой входит 100% Лен, можно купить по доступной цене 3 299 ₽ в интернет-магазине «I Love Mum» c доставкой или воспользоваться самовывозом. У нас представлен широкий ассортимент одежды для беременных и кормящих мам. <br> Получить информацию о гарантии и доставке можно у наших операторов по телефону: +7 (495) 988-16-14 или 8 (800) 550-500-1.

                    .card__content.tab-content.current#tab-1
                        .card__desc-wrap
                            .card__desc
                                span Тип:
                                span для беременных и кормящих
                            .card__desc
                                span Удобство кормления:
                                span планка на пуговицах
                            .card__desc
                                span Материал:
                                span лен
                            .card__desc
                                span Длина от плеча:
                                span 113 см
                            .card__desc
                                span В комплекте:
                                span пояс
                        .card__desc-info Рекомендации по уходу: деликатная стирка в стиральной машине при 30°C <br> Сарафан "Сефора" в состав которой входит 100% Лен, можно купить по доступной цене 3 299 ₽ в интернет-магазине «I Love Mum» c доставкой или воспользоваться самовывозом. У нас представлен широкий ассортимент одежды для беременных и кормящих мам. <br> Получить информацию о гарантии и доставке можно у наших операторов по телефону: +7 (495) 988-16-14 или 8 (800) 550-500-1.
                    .card__content.tab-content#tab-2
                        .card__desc-wrap
                            .card__desc
                                span Цвет:
                                span Красный
                            .card__desc
                                span Размер
                                span XL
                            .card__desc
                                span Материал:
                                span Хлопок
                            .card__desc
                                span Длина от плеча:
                                span 1 метр
                            .card__desc
                                span В комплекте:
                                span пояс, ремень, халат
                        .card__desc-info Сдесь какой то текст, много текста. Сдесь какой то текст, много текста. Сдесь какой то текст, много текста.
                    .card__content.tab-content#tab-3
                        .card__desc-wrap
                            .card__desc
                                span Тип:
                                span для беременных и кормящих
                            .card__desc
                                span Удобство кормления:
                                span планка на пуговицах
                            .card__desc
                                span Материал:
                                span лен
                            .card__desc
                                span Длина от плеча:
                                span 113 см
                            .card__desc
                                span В комплекте:
                                span пояс
                        .card__desc-info Рекомендации по уходу: деликатная стирка в стиральной машине при 30°C <br> Сарафан "Сефора" в состав которой входит 100% Лен, можно купить по доступной цене 3 299 ₽ в интернет-магазине «I Love Mum» c доставкой или воспользоваться самовывозом. У нас представлен широкий ассортимент одежды для беременных и кормящих мам. <br> Получить информацию о гарантии и доставке можно у наших операторов по телефону: +7 (495) 988-16-14 или 8 (800) 550-500-1.
                    .card__share
                        span Поделиться находкой
                        .card__share-links
                            a(href="#")
                                    +icon("insta")
                            a(href="#")
                                    +icon("vk")
                            a(href="#")
                                    +icon("fb")
    .card__row.card__row--margin
        .card__col
            .card__img
                img(src="./img/card/card-img_03.jpg" alt="")
        .card__col
            .card__img
                img(src="./img/card/card-img_04.jpg" alt="")


.card__actual-wrapper
    .container
        .main__actual
            h2.main__actual-title Рекомендуем
            .main__actual-slider-wrapper.card
                .main__actual-slider#actual-slider
                    a(href="#").catalog__box-item.mobile
                        .main__actual-item.mobile
                            .main__actual-img
                                span Рекомендуем
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-1.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-3.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-4.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                a(href="#" data-slider="slickPrev").js-actual-arrows.main__actual-arrows
                a(href="#" data-slider="slickNext").js-actual-arrows.main__actual-arrows
                //выгружать сюда фото для второго слайдера в моб версии
                .main__actual-slider.second#actual-slider-mobile
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-1.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-3.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-4.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                a(href="#" data-slider="slickPrev").js-actual-arrows.main__actual-arrows
                a(href="#" data-slider="slickNext").js-actual-arrows.main__actual-arrows
.card__fixed-wrap
    .container
        .card__fixed-size
            .card__size
                a(href="#").card__size-edit
                    i
                        +icon("body")
                    | Подобрать размер
                span Выбрать размер
                .card__size-choice
                    a(href="#").available.current 44
                    a(href="#").available 46
                    a(href="#").available 48
                    a(href="#") 50
                    a(href="#") 52
                .card__size-cross
        .card__fixed-mob
            .btn.btn__size
                span Выбрать размер
                .btn__cross
            a(href="#").btn.card__buttons
                i
                    +icon("bag")
            a(href="#").btn.btn--no-border купить в один клик
        .card__fixed
            .card__size
                .card__size-choice
                    a(href="#").available.current 44
                    a(href="#").available 46
                    a(href="#").available 48
                    a(href="#") 50
                    a(href="#") 52
                a(href="#").card__size-edit
                    i
                        +icon("body")
                    | Подобрать размер
            .card__buttons
                a(href="#").btn
                    i
                        +icon("bag")
                    | в корзину
                a(href="#").btn.btn--border купить в один клик