.cart
    .checkout__aside
        h3.checkout__aside-title Корзина
        .checkout__order-wrapper
            .checkout__order
                .checkout__order-img-info
                    .checkout__order-img
                        img(src="./img/checkout-item.png" alt="")
                        span.checkout__order-quantity 1
                    .checkout__order-info
                        span.checkout__order-text
                            b Сарафан «Сефора»
                        span.checkout__order-text Размер: 44
                        span.checkout__order-text Цвет: фиалковый
                        .checkout__order-price.mobile
                            span 3 299
                                span &nbsp;₽
                .checkout__order-price
                    span 3 299
                        span &nbsp;₽
            .checkout__order
                .checkout__order-img-info
                    .checkout__order-img
                        img(src="./img/checkout-item.png" alt="")
                        span.checkout__order-quantity 1
                    .checkout__order-info
                        span.checkout__order-text
                            b Сарафан «Сефора»
                        span.checkout__order-text Размер: 44
                        span.checkout__order-text Цвет: фиалковый
                        .checkout__order-price.mobile
                            span 3 299
                                span &nbsp;₽
                .checkout__order-price
                    span 3 299
                        span &nbsp;₽
        .checkout__promo
            input(type="text" name="promo" placeholder="Промокод")
            a(href="#") Применить
        .checkout__order-price-block
            .checkout__order-price-data
                span Стоимость заказа:
                span 3 299
                    span &nbsp;₽
            .checkout__order-price-data
                span Доставка:
                span 317
                    span &nbsp;₽
            .checkout__order-price-data
                span Итого:
                span 3 616
                    span &nbsp;₽
        .card__store-box
            .card__store Дополните заказ на <span><b>650 ₽</b></span> и получите <br> Бесплатную доставку!
        .card__buttons
            a(href="#").btn.btn--border купить в один клик
            a(href="#").btn оформить заказ
        .cart__cross
