.catalog__wrapper
    .container
        .catalog
            .catalog__head
                img(src="./img/catalog-head.png" alt="")
            .catalog__breadcrums
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Каталог
                    a(href="#").submenu Одежда для беременных и кормящих
                        .submenu-content
                            object
                                a(href="#") Белье, колготки, бандажи
                                a(href="#") Блузки, рубашки
                                a(href="#") Брюки, джинсы, легинсы
                                a(href="#") Верхняя одежда
                                a(href="#") Джемперы, толстовки
                                a(href="#") Лонгсливы
                                a(href="#") Майки, топы
                                a(href="#") Одежда для дома и сна
                                a(href="#") Платья, сарафаны
                                a(href="#") Комбинезоны, костюмы
                                a(href="#") Комплекты для роддома
                                a(href="#") Юбки, шорты
                                a(href="#") Футболки
                    a(href="#").submenu Платья и сарафаны
                        .submenu-content
                            object
                                a(href="#") Для беременных
                                a(href="#") Для беременных и кормящих
                                a(href="#") Для кормящих
            .catalog__content
                .catalog__line
                    .catalog__mobile-nav
                        a(href="").prev
                            +icon("catalog-arrow")
                        span Платья и сарафаны
                        a(href="").next
                            +icon("catalog-arrow")
                    a(href="#").catalog__filter.js-catalog-filter
                            i.ico-filter
                                +icon("filter")
                            span Фильтр
                            span.mobile Фильтр и сортировка
                            i.ico-add
                                +icon("add")
                    h1.catalog__title Платья и сарафаны
                    .catalog__sort
                        b Сортировать по:
                        select
                            option(selected="selected" value="1") Новинкам
                            option(value="2") Цена по убыванию
                            option(value="3") Цена по возрастанию
                            option(value="4") Рейтингу
                .catalog__box
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            i(data-fancybox="gallery-1" href="./img/catalog/catalog-1.png").js-catalog-zoom
                                +icon("zoom-in")
                            .catalog__box-img
                                img(src="./img/catalog/catalog-1.png" alt="")
                                img(src="./img/catalog/catalog-1.png" alt="" data-fancybox="gallery-1" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-1.png" alt="" data-fancybox="gallery-1" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-1.png" alt="" data-fancybox="gallery-1" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-1.png" alt="" data-fancybox="gallery-1" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-1.png" alt="" data-fancybox="gallery-1" data-type="image").fancy-img
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            i(data-fancybox="gallery-2" href="./img/catalog/catalog-2.png").js-catalog-zoom
                                +icon("zoom-in")
                            .catalog__box-img
                                img(src="./img/catalog/catalog-2.png" alt="")
                                img(src="./img/catalog/catalog-2.png" alt="" data-fancybox="gallery-2" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-2.png" alt="" data-fancybox="gallery-2" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-2.png" alt="" data-fancybox="gallery-2" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-2.png" alt="" data-fancybox="gallery-2" data-type="image").fancy-img
                                img(src="./img/catalog/catalog-2.png" alt="" data-fancybox="gallery-2" data-type="image").fancy-img
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 36
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 38
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("best-price")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-3.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("premium")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-3.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt60
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-1.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-1.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-2.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 36
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 38
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-2.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-3.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("premium")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-3.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt60
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-1.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-1.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-2.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 36
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 38
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-2.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-3.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("premium")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-3.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt60
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-1.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-1.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-2.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 36
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 38
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-2.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/catalog/catalog-3.png" alt="")
                            .catalog__box-info
                                i.close.js-catalog-close
                                    +icon("close")
                                .catalog__box-sizes
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 44
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 46
                                    .catalog__box-sizes-item.unactive
                                        object
                                            a(href="#") 48
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 50
                                    .catalog__box-sizes-item
                                        object
                                            a(href="#") 52
                                .catalog__box-tocart
                                    object
                                        a(href="#") в корзину
                                            i
                                                +icon("bag")
                                .catalog__box-oneclick
                                    object
                                        a(href="#").js-buy купить в один клик
                            .catalog__box-option
                                i
                                    +icon("premium")
                                i
                                    +icon("best-price")
                            i(data-fancybox="gallery" href="./img/catalog/catalog-3.png").js-catalog-zoom
                                +icon("zoom-in")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt60
                        .catalog__box-text
                            span.catalog__box-name Платье «Лима»
                            span.catalog__box-price 2 650 ₽
                .catalog__btn-more
                    a(href="#").btn показать еще 24
    .filter#filter
        .filter__line
            .catalog__filter.js-catalog-filter
                i.ico-filter
                    +icon("filter")
                span Фильтр
                span.mobile Фильтр и сортировка
            i.filter__close.js-close-filter
                +icon("close")
        .filter__sort
            .catalog__sort
                b Сортировать по:
                select
                    option(selected="selected" value="1") Новинкам
                    option(value="2") Цена по убыванию
                    option(value="3") Цена по возрастанию
                    option(value="4") Рейтингу
        .filter__wrapper.js-filter
            .filter__item
                span.filter__content-title Цвет
                a(href="#").filter__link Белый
                a(href="#").filter__link Голубой
                a(href="#").filter__link Зеленый
                a(href="#").filter__link Коричневый
                a(href="#").filter__link Красный
                a(href="#").filter__link Оранжевый
                a(href="#").filter__link Орнамент
                a(href="#").filter__link Серый
                a(href="#").filter__link Синий
                a(href="#").filter__link Фиолетовый
                a(href="#").filter__link Черный
            .filter__item
                span.filter__content-title Размер
                a(href="#").filter__link Маленький
                a(href="#").filter__link Большой
                a(href="#").filter__link Огромный
            .filter__item
                span.filter__content-title Тип одежды
                a(href="#").filter__link Платья
                a(href="#").filter__link Сарафаны
                a(href="#").filter__link Футболки
                a(href="#").filter__link Капюшоны
            .filter__item
                span.filter__content-title Сезонность
                a(href="#").filter__link Лето
                a(href="#").filter__link Зима
                a(href="#").filter__link Осень
                a(href="#").filter__link Весна
        .filter__result
            span 456 товаров
        .filter__btns
            a(href="#").filter__btn-reset очистить
            a(href="#").filter__btn-apply применить
        .filter__text
            p Pognae бандаж дородовый бандаж послеродовый бандаж универсальный блузка брюки брюки домашние брюки утепленные бюстгальтер дородовый бюстгальтер послеродовый джемпер джинсы кардиган колготки комбинезон комбинезон детский комплект белья комплект для дома и сна комплект для роддома костюм куртка демисезонная куртка зимняя легинсы утепленные лонгслив майка майка-топ ночная сорочка платье платье домашнее рубашка