.checkout__wrapper
    .container
        .checkout__page
            form.checkout__form#checkout-form
                .checkout__content
                    h3.checkout__title Персональные данные
                    p.checkout__subtitle Регистрация происходит автоматически при оформлении первого заказа. Если Вы зарегистрированы, то можете <a href="#">авторизоваться</a> на сайте под своим логином для получения персональных скидок.
                    .checkout__data
                        .checkout__data-row
                            span.checkout__data-name ФИО
                            input(type="text" name="name").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Номер телефона
                            input(type="tel" name="tel").checkout__data-input.mask
                        .checkout__data-row
                            span.checkout__data-name e-mail
                            input(type="email" name="email").checkout__data-input
                    h3.checkout__title.checkout__title--second Адрес доставки
                    .checkout__data
                        .checkout__data-row
                            span.checkout__data-name Страна
                            select#country-select(name="country").checkout__select
                                option(value="country-1" selected) Россия
                                option(value="country-2") Казахстан
                                option(value="country-3") Беларусь
                                option(value="country-4") Замбия
                        .checkout__data-row
                            span.checkout__data-name Город /Населенный пункт
                            input(type="text" name="town").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Регион / Район
                            input(type="text" name="region").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Индекс
                            input(type="text" name="index").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Улица
                            input(type="text" name="street").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Дом
                            input(type="text" name="house").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Квартира
                            input(type="text" name="room").checkout__data-input
                        .checkout__data-row
                            span.checkout__data-name Комментарий к заказу
                            textarea(name="comment").checkout__data-input.checkout__data-input--textarea
                    .checkout__delpay
                        h3.checkout__delpay-title Способ доставки
                        .checkout__delpay-wrapper
                            label.checkout__delpay-item
                                span.checkout__delpay-radio
                                    span.radio
                                        input(type="radio" name="delivery" checked)
                                        span.radio-input
                                span.checkout__delpay-block.checkout__delpay-block--boxbery
                                    span.checkout__delpay-name Boxberry
                                    span.checkout__delpay-text Получение заказа в пункте выдачи
                                    span.checkout__delpay-text Стоимость - 317 ₽
                            label.checkout__delpay-item
                                span.checkout__delpay-radio
                                    span.radio
                                        input(type="radio" name="delivery")
                                        span.radio-input
                                span.checkout__delpay-block.checkout__delpay-block--mail
                                    span.checkout__delpay-name Почта России
                                    span.checkout__delpay-text Стоимость - 0 ₽
                                    span.checkout__delpay-text Бесплатная доставка при заказе от 3 000 ₽
                        h3.checkout__delpay-title Способ оплаты
                        .checkout__delpay-wrapper
                            label.checkout__delpay-item
                                span.checkout__delpay-radio
                                    span.radio
                                        input(type="radio" name="pay" checked)
                                        span.radio-input
                                span.checkout__delpay-block.checkout__delpay-block--card
                                    span.checkout__delpay-name Банковская карта
                                    span.checkout__delpay-text VISA, MasterСard, МИР
                            label.checkout__delpay-item
                                span.checkout__delpay-radio
                                    span.radio
                                        input(type="radio" name="pay")
                                        span.radio-input
                                span.checkout__delpay-block.checkout__delpay-block--sber
                                    span.checkout__delpay-name Квитанция Сбербанк
                    .checkout__bottom-block
                        .checkout__agreement
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-input
                                span.checkbox-text Даю согласие на обработку <a href="#">Персональных данных</a>
                        .checkout__btn
                            a(href="#").btn.js-checkout-submit оформить заказ
                .checkout__aside
                    h3.checkout__aside-title Ваш заказ
                    .checkout__order-wrapper
                        .checkout__order
                            .checkout__order-img-info
                                .checkout__order-img
                                    img(src="./img/checkout-item.png" alt="")
                                    span.checkout__order-quantity 1
                                .checkout__order-info
                                    span.checkout__order-text
                                        b Сарафан «Сефора»
                                    span.checkout__order-text Размер: 44
                                    span.checkout__order-text Цвет: фиалковый
                            .checkout__order-price
                                span 3 299
                                    span &nbsp;₽
                        .checkout__order
                            .checkout__order-img-info
                                .checkout__order-img
                                    img(src="./img/checkout-item.png" alt="")
                                    span.checkout__order-quantity 1
                                .checkout__order-info
                                    span.checkout__order-text
                                        b Сарафан «Сефора»
                                    span.checkout__order-text Размер: 44
                                    span.checkout__order-text Цвет: фиалковый
                            .checkout__order-price
                                span 3 299
                                    span &nbsp;₽
                    .checkout__promo
                        input(type="text" name="promo" placeholder="Промокод")
                        a(href="#") Применить
                    .checkout__order-price-block
                        .checkout__order-price-data
                            span Стоимость заказа:
                            span 3 299
                                span &nbsp;₽
                        .checkout__order-price-data
                            span Доставка:
                            span 317
                                span &nbsp;₽
                        .checkout__order-price-data
                            span Итого:
                            span 3 616
                                span &nbsp;₽
                    .checkout__order-edit
                        a(href="#") Изменить список покупок
                    .checkout__mobile
                        .checkout__mobile-row
                            label.checkbox
                                input(type="checkbox" name="sms")
                                span.checkbox-input
                                span.checkbox-text Информировать по СМС о статусе заказа
                        .checkout__mobile-row
                            label.checkbox
                                input(type="checkbox" name="operator")
                                span.checkbox-input
                                span.checkbox-text Нужен звонок оператора для уточнения заказа
                    .checkout__info
                        span Вы можете отследить статус заказа <br>в <a href="#">Личном кабинете</a> а также вам придет уведомление на указанный вами e-mail.
            .checkout__bottom-block.mobile
                .checkout__agreement
                    label.checkbox
                        input(type="checkbox" name="agreement")
                        span.checkbox-input
                        span.checkbox-text Даю согласие на обработку <a href="#">Персональных данных</a>
                .checkout__btn
                    a(href="#").btn.js-checkout-submit оформить заказ
