.small-container
    h1.page__title Контакты
.container
    .contacts
        .contacts__col
            .contacts__info
                .contacts__title Телефоны интернет-магазин
                .contacts__desc
                    i
                        +icon("phone-ico")
                    span +7 (495) 988-16-14
                .contacts__desc
                    i
                        +icon("phone-ico")
                    span 8 (800) 550-500-1
            .contacts__info
                .contacts__title Режим работы операторов
                .contacts__desc
                    i
                        +icon("clock-ico")
                    span Понедельник-суббота с 9:00 до 18:00 (МСК)
            .contacts__info
                .contacts__title По вопросам сотрудничества
                    span оптовые продажи
                .contacts__desc
                    i
                        +icon("phone-ico")
                    span +7 (495) 988-16-14 доп. 121
                .contacts__desc
                    i
                        +icon("mail-ico")
                    a(href="#") opt@ilovemum.ru
        .contacts__col
            .about__details
                .about__details-title Реквизиты
                .about__details-info
                    .about__details-desc
                        span ИП
                        span Фомичев В.А.
                    .about__details-desc
                        span ИНН
                        span 773101615987
                    .about__details-desc
                        span ОГРНИП
                        span 311774606400281
                    .about__details-desc
                        span Р/с <br>
                            span Сбербанк России ОАО  г.Москва
                        span 4080 2810 4382 6000 4360
                    .about__details-desc
                        span БИК
                        span 044 525 225
.big-container
    .contacts__row
        .contacts__col
            .contacts__map
                #map
        .contacts__col
            .contacts__store-title Розничные магазины
            .contacts__tabs
                .contacts__tab.tab(data-tab="tab-1") Москва
                .contacts__tab.tab.current(data-tab="tab-2") Санкт-Петербург
            .contacts__box.tab-content#tab-1
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Отрадное
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ул. Декабристов, 12, ТРК Золотой Вавилон, 2-й этаж
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 22:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (303)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#") Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Варшавская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, Варшавское шоссе, 68 корпус 2
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 21:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (302)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#") Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Савеловская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ул. Сущевский Вал, 5 стр. 1, ТК Савеловский, Детский Центр, павильон L52
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 21:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (301)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#") Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Братиславская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ТРК Бум, ул. Перерва, 43к, 1-й этаж
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 22:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (304)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#") Как добраться
            .contacts__box.tab-content.current#tab-2
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Савеловская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ул. Сущевский Вал, 5 стр. 1, ТК Савеловский, Детский Центр, павильон L52
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 21:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (301)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#" data-marker="1").find-marker Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Братиславская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ТРК Бум, ул. Перерва, 43к, 1-й этаж
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 22:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (304)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#" data-marker="2").find-marker Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Отрадное
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, ул. Декабристов, 12, ТРК Золотой Вавилон, 2-й этаж
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 22:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (303)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#" data-marker="3").find-marker Как добраться
                .contacts__item
                    .contacts__desc
                        i
                            +icon("metro-ico")
                        span М. Варшавская
                    .contacts__desc
                        i
                            +icon("marker-ico")
                        span Москва, Варшавское шоссе, 68 корпус 2
                    .contacts__desc
                        i
                            +icon("clock-ico")
                        span Ежедневно 10:00 - 21:00
                    .contacts__desc
                        i
                            +icon("phone-ico")
                        span +7 (495) 988-16-14 (302)
                    .contacts__desc
                        i
                            +icon("compass-ico")
                        a(href="#" data-marker="4").find-marker Как добраться

script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<cbce5356-990d-4342-8856-fc4b3793a0eb>" type="text/javascript")
script(src="js/map.js")
