.small-container
    h1.page__title.page__title--border-bottom Доставка
    .page__subtitle Вы можете получить ваш заказ несколькими способами
.container
    .return
        .return__box.collapse.delivery__box
            .return__title Доставка по Москве
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon
                            +icon("mechanic-user")
                        span Доставка Курьером
                    .return__info
                        span БЕСПЛАТНО по Москве при покупке (выкупе заказа) от 3 000₽ в пределах МКАД, 250₽ при покупке (выкупе заказа) до 3 000₽ <br> За МКАД (до 5 км) – 300₽ при любой стоимости (выкупе) заказа. <br> В одном заказе мы сможем Вам доставить не более 10 позиций, в том числе не более 2-х позиций верхней одежды и 2-х рюкзаков-переносок. <br> Доставка по Москве осуществляется в течение 2-3 рабочих дней с момента оформления заказа. Время доставки – с 11 до 20 часов (пн-пт). В период праздников, акций и распродаж сроки доставки могут быть увеличены. <br>Время ожидания курьера и бесплатной примерки/просмотра – 15 мин. с момента прибытия курьера по адресу. Каждые  последующие 15 мин. примерки (ожидания) оплачиваются курьеру в размере 200₽ <br> Если Вам не понравился или не подошел ни один из заказанных товаров, Вы можете отказаться от заказа. <br> При этом оплачивается полная стоимость доставки.
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon
                            +icon("shop")
                        span Доставка в фирменные магазины ilovemum
                    .return__info
                        span Доставка в магазин 119₽ Оплачивается при оформлении заказа. <br>
                            | В одном заказе мы сможем Вам доставить до 10 товаров, в том числе не более 1-ого
                            | товара из раздела верхней одежды и 2-х рюкзаков-переносок. <br> Комплектация и доставка
                            | заказа в течение 2-х рабочих дней с момента оформления заказа.<br>
                            | Резервирование заказа в Магазине в течение 3-х дней с момента доставки.<br>
                            | Оплата доставки: безналичный расчет (карта или квитанция Сбербанка).<br> Оплата товаров
                            | при
                            | получении: картой или наличными.<br>
                            | Если Вам не понравился или не подошел ни один из заказанных товаров, Вы можете отказатьсяот заказа.<br>
                            | В связи с ограниченным местом хранения мы не можем хранить одновременно более одного
                            | Вашего заказа, в магазине представлен большой выбор одежды, из которой Вы можете подобрать свой гардероб.
                            <br><br>
                            | Примерка бесплатно, время неограниченно.

                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.self-transport
                        span Самовывоз из пункта выдачи СДЭК с возможностью примерки - Стоимость по тарифам СДЭК
                    .return__info
                        span Вы можете оформить заказ с самовывозом из пунктов выдачи СДЭК.<br>
                            |При заказе с возможностью примерки Вам надо будет оплатить на сайте только доставку.<br>
                            |При данном способе доставке возможен частичный выкуп по заказу.<br>
                            |Оплата товаров при получении наличными и банковской картой.
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Доставка по России
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon
                            +icon("shop")
                        span Доставка в фирменные магазины ilovemum в Санкт-Петербурге
                    .return__info
                        span Доставка в магазин 119₽ Оплачивается при оформлении заказа. <br>
                            | В одном заказе мы сможем Вам доставить до 10 товаров, в том числе не более 1-ого
                            | товара из раздела верхней одежды и 2-х рюкзаков-переносок. <br> Комплектация и доставка
                            | заказа в течение 2-х рабочих дней с момента оформления заказа.<br>
                            | Резервирование заказа в Магазине в течение 3-х дней с момента доставки.<br>
                            | Оплата доставки: безналичный расчет (карта или квитанция Сбербанка).<br> Оплата товаров
                            | при
                            | получении: картой или наличными.<br>
                            | Если Вам не понравился или не подошел ни один из заказанных товаров, Вы можете отказатьсяот заказа.<br>
                            | В связи с ограниченным местом хранения мы не можем хранить одновременно более одного
                            | Вашего заказа, в магазине представлен большой выбор одежды, из которой Вы можете подобрать свой гардероб.
                            <br><br>
                            | Примерка бесплатно, время неограниченно.
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.boxberry
                        span Boxberry - Быстрая доставка в 1473 города России
                    .return__info
                        span &bull; Доставка курьером до двери с примеркой и без примерки <br><br> &bull; Получение в пункте выдачи в Вашем городе с частичным или полным выкупом <br><br> В обоих случаях Вас известят о поступлении заказа с помощью СМС на номер Вашего телефона. <br> Отследить доставку по номеру отправления можно в личном кабинете, либо на сайте Boxberry. <br> В зависимости от выбранного способа доставки Вам нужно оплатить на сайте либо только доставку (в случаях с примеркой и частичного выкупа), либо стоимость всего заказа (в случаях без примерки и полного выкупа). <br> На примерку возможно заказать до 10 товарных позиций, включая не более 1-ой куртки и 2-х рюкзаков-переносок. Время примерки 15 минут. Если Вы хотите заказать больше, Вам придется оформить второй заказ. Обратите внимание, что в случае выбора варианта доставки «ДО ПУНКТА ВЫДАЧИ (с возможностью частичного выкупа)» Вы имеете право проверить содержимое посылки на предмет соответствия заказу и отсутствия физических повреждений. После проверки принять решение о выкупе посылки. Услуга примерки в пунктах выдачи ограничена. <br> При отправке через Boxberry заказа с примеркой или возможностью частичного выкупа стоимость товаров оплачивается наличными или картой после примерки (возможность оплаты картой уточняется у курьера), стоимость доставки оплачивается заранее на сайте. <br> Сроки доставки являются приблизительными, и Компания не несет ответственности за отклонения фактических сроков доставки Boxberry от расчетных.

                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.self-transport
                        span СДЭК - Самый быстрый способ доставки Доставка в 296 городов России
                    .return__info
                        span &bull; Доставка курьером до двери <br><br> &bull; Получение в пункте выдачи в Вашем городе <br><br> В обоих случаях Вас известят о поступлении заказа с помощью СМС на номер Вашего телефона. Отследить доставку по номеру отправления можно в личном кабинете, либо на сайте СДЭК.<br> Вам нужно оплатить на сайте только доставку, стоимость выбранного Вами товара Вы оплачиваете после примерки. На примерку возможно заказать до 10 товарных позиций, включая не более 1-ой куртки и 2-х рюкзаков-переносок. Время примерки 15 минут. Если Вы хотите заказать больше, Вам придется оформить второй заказ. <br> При отправке через СДЭК заказа с примеркой стоимость товаров оплачивается наличными или картой после примерки, стоимость доставки оплачивается заранее на сайте. <br> Сроки доставки являются приблизительными, и Компания не несет ответственности за отклонения фактических сроков доставки СДЭК от расчетных.
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.rus
                        span Почта России - Самый дешевый способ доставки. Бесплатно при заказе от 3 000₽
                    .return__info
                        span Доставка до почтового отделения в Вашем городе. <br> Расчет стоимости доставки на сайте включает в себя расходы на упаковку и может незначительно отличаться от расчета стоимости на сайте Почты России. Расчет стоимости и сроки доставки предоставлен сервисом Почты России. При сумме заказа от 3 000₽ доставка Почтой России осуществляется бесплатно. <br> При отправке заказа по почте стоимость заказа + почтовые расходы оплачиваются заранее. <br> Сроки доставки являются приблизительными, и Компания не несет ответственности за отклонения фактических сроков доставки Почтой России от расчетных. <br> Почтовые отправления можно посмотреть в &shy;
                        a(href="#").return__link Личном кабинете
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Международная доставка
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ems
                        span <b>EMS</b> - Быстрый способ доставки. Скидка при заказе от 3 000₽
                    .return__info
                        span При стоимости товаров от 3 000₽ на стоимость доставки предоставляется скидка 500₽ <br> Доставка осуществляется Авиа перевозкой. Стоимость доставки зависит от страны назначения и веса посылки и и рассчитывается по тарифам Почты России. <br><br> При отправке заказа по почте стоимость заказа (включая почтовые расходы) оплачивается заранее. <br> Сроки доставки являются приблизительными, Компания не несет ответственности за отклонения фактических сроков доставки Почтой России от расчетных.
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Возврат
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.return-icon
                        span Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                    .return__info
                        span 1) В розничном магазине ILoveMum в ТРК «БУМ» по адресу: Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет. <br>
                            a(href="#").return__link Скачать заявление на возврат средств. <br><br> 2) Возврат товара курьеру. Услуга платная: <br><br> Приезд курьера в пределах МКАД — 250 руб. <br> Приезд курьера за МКАД — определяется полной стоимостью доставки. <br> Если вы заказываете новый товар, то возврат курьеру неподошедших вещей осуществляется бесплатно. Вы оплачиваете только доставку нового заказа. <br> <br> Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара: <br><br> Товар оплачен наличными возврат средств только наличными; <br> Товар оплачен банковской картой возврат средств на карту, с которой был оплачен товар. <br><br> Приобретая товар по почте, вернуть неподошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы вернем вам деньги на банковскую карту. В случае возврата неподошедшего товара, почтовые расходы оплачиваются отправителем. <br>
                            a(href="#").return__link Скачать заявление на возврат товара Почтой России. <br><br> Внимание! Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки. Возврат можно осуществить через Почту России. <br>
                            a(href="#").return__link Скачать заявление на возврат товара Почтой России. <br><br> К возврату принимается товар, который не был в носке, а так же с сохранением всех бирок и ярлыков.<br> Необходимые документы для возврата: чек, товарная накладная, паспорт.
            a(href='#').return__cross
