.discounts
    .small-container
        h1.page__title Скидки
    .big-container
        .about__row
            .about__col.about__col-8
                .about__item
                    img(src="./img/discounts/discounts-img_01.jpg" alt="")
            .about__col.about__col-4
                .about__item
                    .about__title Для любителей скидок
                    .about__desc На сайте в разделе Распродажи всегда есть интересные предложения.
                    a(href="#").btn Перейти в раздел
    .big-container
        .about__row.about__row-reverse
            .about__col.about__col-8
                .about__item
                    img(src="./img/discounts/discounts-img_02.jpg" alt="")
            .about__col.about__col-4
                .about__item
                    .about__title Скидка 20% в день рождения
                    .about__desc Чтобы получить скидку, зарегистрируйтесь на нашем сайте и укажите дату своего рождения. Главное – сделать это не позднее, чем за 14 дней до своего праздника. И в день Х мы пришлем Вам письмо с персональным промокодом.
    .big-container
        .about__row
            .about__col.about__col-8
                .about__item
                    img(src="./img/discounts/discounts-img_03.jpg" alt="")
            .about__col.about__col-4
                .about__item
                    .about__title Для любителей пообщаться
                    .about__desc Подпишитесь на нас в соцсетях Instagram, ВКонтакте, Facebook и участвуйте в наших акциях и розыгрышах, общайтесь, узнавайте о новинках.

