footer.wrapper.footer#footer
    .container
        .footer__wrapper
            .footer__menu-wrapper
                .footer__menu
                    a(href="#").footer__menu-item О нас
                    a(href="#").footer__menu-item Контакты
                    a(href="#").footer__menu-item Магазины
                    a(href="#").footer__menu-item Как купить
                    a(href="#").footer__menu-item Возврат
                    a(href="#").footer__menu-item Скидки
                    a(href="#").footer__menu-item Вопросы
                    a(href="#").footer__menu-item Таблица размеров
                .footer__menu
                    a(href="#").footer__menu-item Видео-инструкции
                    a(href="#").footer__menu-item Новости
                    a(href="#").footer__menu-item Обработка персональных данных
                    a(href="#").footer__menu-item Программа лояльности
            .footer__social
                a(href="#").footer__social-item.fb
                    +icon("fb")
                a(href="#").footer__social-item.insta
                    +icon("insta")
                a(href="#").footer__social-item.vk
                    +icon("vk")
                a(href="#").footer__social-item.ytube
                    +icon("ytube")
            span.footer__copy © 2009-2019, iLovemum
            span.footer__text Интернет-магазин одежды для беременных
            span.footer__site Разработка сайта
                a(href="#") PIXITE

