meta(charset="utf-8")
title Title
meta(name="viewport", content="width=device-width; initial-scale=1.0")
link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic-ext' rel='stylesheet')
link(rel="stylesheet", href="css/style.css")
script(src="js/ie-detector.js")
script(src="js/svgxuse.js" defer)
script(src="js/modernizr.js")
<!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
