header.wrapper.header#header
    .header__hint
        .container
            span.header__hint-text При покупке от 3 000 ₽ бесплатная доставка курьером в пределах мкад или Почтой россии. Для международной доставки cкидка 500 ₽.
        i.js-close-header-hint
            +icon("close")
    .header__line-wrapper
        .container
            .header__line
                .header__menu-btn.js-mobile-menu
                     +icon("mobile-menu")
                .header__line-phone
                    a(href="tel:84959881614") 8 (495) 988-16-14
                    a(href="tel:88005505001") 8 (800) 550-500-1
                .header__line-logo
                    a(href="/")
                        +icon("logo")
                .header__line-icons
                    a(href="#").header__ico-lang.ru
                    a(href="#").header__ico-box
                        +icon("box")
                    a(href="#").header__ico-user
                        +icon("user")
                    a(href="#").header__ico-bag
                        +icon("bag")
                        span.header__ico-bag-nubmer 1
        .menu-mobile
            .menu-mobile__logo
                i
                    +icon("logo")
            .menu-mobile__wrapper
                form.menu-mobile__search
                    input(type="search" name="search" placeholder="Поиск по каталогу" id="search-mobile")
                    .search-scroll-container.ss-container#search1-container
                        .ss-wrapper
                            .ss-content
                                ul.form__search-list#search1-result
                                    li.search-text-only.search-suggestion
                                        a(href="#") <b>бр</b>
                                    li.search-text-only.search-suggestion
                                        a(href="#") <b>бр</b>юки
                                    li.search-text-only.search-suggestion
                                        a(href="#") <b>бр</b>ю
                                    h3 Категории
                                    li.search-text-only.search-category
                                        a(href="#") <b>Бр</b>юки, джинсы, легинсы
                                    li.search-text-only.search-category
                                        a(href="#") <b>Бр</b>юки
                                    li.search-text-only.search-category
                                        a(href="#") Утепленные <b>бр</b>юки, легинсы
                                    h3 Популярные товары
                                    li
                                        a(href="#").catalog__desc-link
                                            img(src="./img/card/card-img_01.jpg")

                                        .search-product-info
                                             a(href="#").catalog__desc-name <b>Бр</b>юки "<b>Бр</b>айт" для беременных черный
                                             span.catalog__desc-value 1499
                                             span.catalog__desc-sign руб.
                                    li
                                        a(href="#").catalog__desc-link
                                            img(src="./img/card/card-img_01.jpg")

                                        .search-product-info
                                            a(href="#").catalog__desc-name <b>Бр</b>юки "<b>Бр</b>айт" для беременных черный
                                            span.catalog__desc-value 1499
                                            span.catalog__desc-sign руб.
                                    li
                                        a(href="#").catalog__desc-link
                                            img(src="./img/card/card-img_01.jpg")

                                        .search-product-info
                                            a(href="#").catalog__desc-name <b>Бр</b>юки "<b>Бр</b>айт" для беременных черный
                                            span.catalog__desc-value 1499
                                            span.catalog__desc-sign руб.
                                    li
                                        a(href="#").catalog__desc-link
                                            img(src="./img/card/card-img_01.jpg")

                                        .search-product-info
                                            a(href="#").catalog__desc-name <b>Бр</b>юки "<b>Бр</b>айт" для беременных черный
                                            span.catalog__desc-value 1499
                                            span.catalog__desc-sign руб.
                    .menu-mobile__button
                        a(href="#").btn Посмотреть все результаты
                .menu-mobile__catalog
                    h3.menu-mobile__title Каталог
                    .menu-mobile__item
                        .menu-mobile__name
                            span.js-catalog-mob Для беременных и кормящих
                                i
                            .menu-mobile__submenu-content
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Белье, колготки, бандажи
                                        i
                                    a(href="#").menu__submenu-link Бюстгальтеры, топы
                                    a(href="#").menu__submenu-link Трусы
                                    a(href="#").menu__submenu-link Комплекты белья
                                    a(href="#").menu__submenu-link Бандажи
                                    a(href="#").menu__submenu-link Колготки
                                    a(href="#").menu__submenu-link Компрессионное белье
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Блузки, рубашки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Брюки, джинсы, легинсы
                                        i
                                    a(href="#").menu__submenu-link Брюки
                                    a(href="#").menu__submenu-link Джинсы
                                    a(href="#").menu__submenu-link Легинсы
                                    a(href="#").menu__submenu-link Утепленные брюки, легинсы
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Верхняя одежда
                                        i
                                    a(href="#").menu__submenu-link Жилеты, дождевики
                                    a(href="#").menu__submenu-link Куртки демисезонные, плащи
                                    a(href="#").menu__submenu-link Куртки, комплекты зимние
                                    a(href="#").menu__submenu-link Слингокуртки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Джемперы и толстовки
                                        i
                                    a(href="#").menu__submenu-link Джемперы
                                    a(href="#").menu__submenu-link Толстовки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Лонгсливы
                                        i
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Майки и топы
                                        i
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Одежда для дома и сна
                                        i
                                    a(href="#").menu__submenu-link Комплекты для дома
                                    a(href="#").menu__submenu-link Ночные сорочки
                                    a(href="#").menu__submenu-link Прочее
                                    a(href="#").menu__submenu-link Халаты
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Платья и сарафаны
                                        i
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Комбинезоны и костюмы
                                        i
                                    a(href="#").menu__submenu-link Комбинезоны
                                    a(href="#").menu__submenu-link Костюмы
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Комплекты для роддома
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Юбки и шорты
                                        i
                                    a(href="#").menu__submenu-link Шорты
                                    a(href="#").menu__submenu-link Юбки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title.js-mobile-submenu Футболки
                                        i
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                    .menu-mobile__item
                        .menu-mobile__name
                            span.js-catalog-mob Аксессуары
                                i
                            .menu-mobile__submenu-content
                .menu-mobile__links
                    a(href="#") Look Book
                    a(href="#") Новинки
                    a(href="#") Товары со скидкой
                    a(href="#") Межсезонная распродажа
                .menu-mobile__lk
                    .menu-mobile__lk-title Личный кабинет
                    .menu-mobile__lk-item
                        a(href="#").menu-mobile__lk-login Войти
                            +icon("user")
                        a(href="#").menu-mobile__lk-order Где мой заказ
                            +icon("box")
                .menu-mobile__customer
                    a(href="#").menu-mobile__customer-title Покупателю
                    .menu-mobile__customer-list
                        a(href="#") Оплата
                        a(href="#") Доставка
                        a(href="#") Как купить
                        a(href="#") Вопросы
                        a(href="#") Таблица размеров
                        a(href="#") Видео инструкции
                        a(href="#") Скидки
                        a(href="#") Программа лояльности
                .menu-mobile__other
                    a(href="#").menu-mobile__other-shops Наши магазины
                        +icon("marker")
                    a(href="#").menu-mobile__other-lang Язык
                        .header__ico-lang.ru
                a(href="#").menu-mobile__close.js-close-menu
                    +icon("close")
        .overlay
    .header__menu-wrapper
        .container
            .header__menu
                nav.menu#js-menu
                    .menu__item.active
                        a(href="#").menu__item-link Одежда для беременных и кормящих
                        .menu__submenu
                            .menu__submenu-content
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Белье, колготки, бандажи
                                    a(href="#").menu__submenu-link Бюстгальтеры, топы
                                    a(href="#").menu__submenu-link Трусы
                                    a(href="#").menu__submenu-link Комплекты белья
                                    a(href="#").menu__submenu-link Бандажи
                                    a(href="#").menu__submenu-link Колготки
                                    a(href="#").menu__submenu-link Компрессионное белье
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Блузки, рубашки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Брюки, джинсы, легинсы
                                    a(href="#").menu__submenu-link Брюки
                                    a(href="#").menu__submenu-link Джинсы
                                    a(href="#").menu__submenu-link Легинсы
                                    a(href="#").menu__submenu-link Утепленные брюки, легинсы
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Верхняя одежда
                                    a(href="#").menu__submenu-link Жилеты, дождевики
                                    a(href="#").menu__submenu-link Куртки демисезонные, плащи
                                    a(href="#").menu__submenu-link Куртки, комплекты зимние
                                    a(href="#").menu__submenu-link Слингокуртки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Джемперы и толстовки
                                    a(href="#").menu__submenu-link Джемперы
                                    a(href="#").menu__submenu-link Толстовки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Лонгсливы
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Майки и топы
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Одежда для дома и сна
                                    a(href="#").menu__submenu-link Комплекты для дома
                                    a(href="#").menu__submenu-link Ночные сорочки
                                    a(href="#").menu__submenu-link Прочее
                                    a(href="#").menu__submenu-link Халаты
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Платья и сарафаны
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Комбинезоны и костюмы
                                    a(href="#").menu__submenu-link Комбинезоны
                                    a(href="#").menu__submenu-link Костюмы
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Комплекты для роддома
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Юбки и шорты
                                    a(href="#").menu__submenu-link Шорты
                                    a(href="#").menu__submenu-link Юбки
                                .menu__submenu-block
                                    a(href="#").menu__submenu-title Футболки
                                    a(href="#").menu__submenu-link Для беременных
                                    a(href="#").menu__submenu-link Для беременных и кормящих
                                    a(href="#").menu__submenu-link Для кормящих
                                .menu__submenu-block.menu__submenu-block--others
                                    a(href="#").menu__submenu-link Новинки
                                    a(href="#").menu__submenu-link Товары со скидкой
                                    a(href="#").menu__submenu-link Межсезонная распродажа
                            a(href="#").menu__submenu-content-img
                                img(src="./img/menu-img.png" alt="")
                                span Товары <br>со скидкой
                                    +icon("tag")
                    .menu__item
                        a(href="#").menu__item-link Аксессуары
                    .menu__item
                        a(href="#").menu__item-link Оплата
                    .menu__item
                        a(href="#").menu__item-link Доставка
                    .menu__item
                        a(href="#").menu__item-link Магазины
                    .menu__item
                        a(href="#").menu__item-link LookBook
    .header__search-wrapper
        .container
            .header__search
                form.header__search-form
                    input(type="search" name="search" placeholder="Поиск по каталогу" id="search").search
include ../chunks/cart.pug