.container
    .index
        a(href="main.html") main
        a(href="about.html") about
        a(href="delivery.html") delivery
        a(href="news.html") news
        a(href="question.html") question
        a(href="return.html") return
        a(href="discounts.html") discounts
        a(href="contacts.html") contacts
        a(href="checkout.html") checkout
        a(href="card.html") card
        a(href="catalog.html") catalog
        a(href="buy.html") buy
        a(href="loyalty.html") loyalty
        a(href="payment.html") payment
