.big-container
    .about__row
        .about__col.about__col-8
            .about__item
                img(src="./img/loyalty/loyalty-img_01.jpg" alt="")
        .about__col.about__col-4
            .about__item
                h1.about__title Программа лояльности
                .about__desc Для наших покупателей мы разработали систему скидок, которая позволит вам покупать со скидками <span>до 17%</span>
                a(href="#").btn Перейти в каталог
.container
    .loyalty__box
        .loyalty__title Сумма выкупа
        .loyalty__table
            .loyalty__table-row
                .loyalty__table-col % Выкупа
                .loyalty__table-col от 5 000 ₽
                .loyalty__table-col от 15 000 ₽
                .loyalty__table-col от 30 000 ₽
                .loyalty__table-col от 50 000 ₽
            .loyalty__table-row
                .loyalty__table-col 0-29
                .loyalty__table-col 0%
                .loyalty__table-col 0%
                .loyalty__table-col 3%
                .loyalty__table-col 3%
            .loyalty__table-row
                .loyalty__table-col 30-49
                .loyalty__table-col 3%
                .loyalty__table-col 5%
                .loyalty__table-col 7%
                .loyalty__table-col 7%
            .loyalty__table-row
                .loyalty__table-col 50-69
                .loyalty__table-col 4%
                .loyalty__table-col 7%
                .loyalty__table-col 10%
                .loyalty__table-col 15%
            .loyalty__table-row
                .loyalty__table-col 70-100
                .loyalty__table-col 5%
                .loyalty__table-col 10%
                .loyalty__table-col 15%
                .loyalty__table-col 17%
        .loyalty__desc Скидки суммируются с промокодами, но не распространяются на распродажи. <br> Сумма и процент выкупа считается с 01.01.2016. Скидка обновляется один раз в сутки.
        .loyalty__desc.loyalty__desc--fraction % выкупа считается как
            .loyalty__desc-fraction
                span Стоимость выкупленного товара
                span Стоимость заказанного товара
            span х100%
        .loyalty__desc Стоимость товаров включает в себя стоимость услуг доставки.
        .loyalty__desc.loyalty__desc--back Внимание! <br> Для клиентов, у которых процент выкупа меньше 20% и сумма возвратов более 15 000 ₽, действует условие обязательной предварительной оплаты заказа.
        .loyalty__desc Величина скидки отображается в корзине при оформлении заказа и в личном кабинете.
.big-container
    .about__row.about__row-reverse
        .about__col.about__col-8
            .about__item
                img(src="./img/loyalty/loyalty-img_02.jpg" alt="")
        .about__col.about__col-4
            .about__item
                .about__title Распродажа
                .about__desc Регулярно в нашем интернет магазине проводятся распродажи. <br> Товар со скидкой можно увидеть в разделе Товар со скидкой.
                a(href="#").btn посетить раздел
.container
    .loyalty__box
        .loyalty__title Промокод
        .loyalty__desc В случае, если у Вас есть промокод на скидку в нашем магазине, Вам нужно его ввести на стадии оформления заказа и сумма заказа будет пересчитана.
        .loyalty__desc Обратите внимание, что Промокоды могут быть ограничены по времени использования.
        .loyalty__desc В случае, если Вы применяете сразу несколько видов скидок, то расчет стоимости будет последователен
        .loyalty__desc (Начальная цена - (скидка распродажи или VIP скидка)) - Промокод = конечная цена