.container
    .main__top-slider.preloader
        .main__slider#top-slider
            img(src="./img/top-slider/slider-1.jpg" alt="")
            img(src="./img/top-slider/slider-2.jpg" alt="")
            img(src="./img/top-slider/slider-3.jpg" alt="")
            img(src="./img/top-slider/slider-4.jpg" alt="")
        .main__slider-info
            .main__slider-text#text-slider
                .main__slider-text-item
                    h2.main__slider-title В ритме города
                    span.main__slider-subtitle Мы знаем, что носить летом в городе!
                    a(href="#").btn выбрать
                .main__slider-text-item
                    h2.main__slider-title В ритме пляжа
                    span.main__slider-subtitle Мы знаем, что носить летом на пляже!
                    a(href="#").btn выбрать
                .main__slider-text-item
                    h2.main__slider-title Зимняя пора
                    span.main__slider-subtitle Мы знаем, что носить зимой!
                    a(href="#").btn выбрать
                .main__slider-text-item
                    h2.main__slider-title В ритме моды
                    span.main__slider-subtitle Самые модные вещи у нас!
                    a(href="#").btn выбрать
.main__collection-wrapper
    .container
        .main__collection.preloader
            .main__collection-info
                .main__collection-text#text-collection-slider
                    .main__collection-item
                        h2.main__collection-title Новая коллекция
                        span.main__collection-subtitle Пора обновлять гардероб
                        a(href="#").btn выбрать
                    .main__collection-item
                        h2.main__collection-title Новая платья
                        span.main__collection-subtitle Обновлять гардероб новой коллекцией
                        a(href="#").btn выбрать
                    .main__collection-item
                        h2.main__collection-title Новая коллекция коллекция
                        span.main__collection-subtitle Пора обновлять гардероб гардероб гардероб
                        a(href="#").btn выбрать
            #slider.slider-1
                .dp-wrap
                    #dp-slider
                        .dp_item(data-class='1', data-position='1')
                            .dp-img
                                img.img-fluid(src='./img/collection-slider/1.jpg', alt='')
                                .main__collection-bag
                                    span 2 650 ₽
                                    a(href="#") в корзину
                        .dp_item(data-class='2', data-position='2')
                            .dp-img
                                img.img-fluid(src='./img/collection-slider/2.jpg', alt='')
                                .main__collection-bag
                                    span 1 650 ₽
                                    a(href="#") в корзину
                        .dp_item(data-class='3', data-position='3')
                            .dp-img
                                img.img-fluid(src='./img/collection-slider/3.jpg', alt='')
                                .main__collection-bag
                                    span 42 650 ₽
                                    a(href="#") в корзину
    .main__collection-mobile
        .main__collection-mobile-slider-title.js-mobile-col-slider-title
            h2.main__collection-title
                span Новая коллекция
            h2.main__collection-title
                span Старая коллекция
            h2.main__collection-title
                span Новогодняя коллекция
        .main__collection-mobile-slider.js-mobile-col-slider
            a(href="#").main__collection-mobile-item
                img(src="./img/collection-slider/collection-1.jpg" alt="")
                span.main__collection-subtitle Пора обновлять гардероб
            a(href="#").main__collection-mobile-item
                img(src="./img/collection-slider/collection-2.jpg" alt="")
                span.main__collection-subtitle Обновлять гардероб одеждой
            a(href="#").main__collection-mobile-item
                img(src="./img/collection-slider/collection-3.jpg" alt="")
                span.main__collection-subtitle Дивная пора очей очарования
.main__actual-wrapper
    .container
        .main__actual
            h2.main__actual-title Актуально в этом сезоне
            .main__actual-slider-wrapper.card.preloader
                .main__actual-slider#actual-slider
                    a(href="#").catalog__box-item.mobile
                        .main__actual-item.mobile
                            .main__actual-img
                                span Актуально<br>в этом<br>сезоне
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-1.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-3.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-4.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                a(href="#" data-slider="slickPrev").js-actual-arrows.main__actual-arrows
                a(href="#" data-slider="slickNext").js-actual-arrows.main__actual-arrows
                //выгружать сюда фото для второго слайдера в моб версии
                .main__actual-slider.second#actual-slider-mobile
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-1.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-3.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-4.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                    a(href="#").catalog__box-item
                        .catalog__box-content
                            .catalog__box-img
                                img(src="./img/actual-slider/actual-2.png" alt="")
                            .catalog__box-option
                                i
                                    +icon("new")
                                i
                                    +icon("premium")
                                i
                                    +icon("winter")
                                i
                                    +icon("best-price")
                                i
                                    +icon("original")
                            i.js-catalog-cart
                                +icon("bag")
                            i.catalog__box-discount.discaunt10
                        .catalog__box-text
                            span.catalog__box-name Леггинсы «ЛК01»
                            span.catalog__box-price 2 650 ₽
                a(href="#" data-slider="slickPrev").js-actual-arrows.main__actual-arrows
                a(href="#" data-slider="slickNext").js-actual-arrows.main__actual-arrows
            .main__actual-btn
                a(href="#").btn выбрать
.main__news-wrapper
    .container
        .main__news.preloader
            #slider2.slider-2
                .dp-wrap
                    #dp-slider2
                        .dp_item(data-class='1', data-position='1')
                            .main__news-slider-item.active
                                .main__news-slider-img
                                    img(src="./img/news-slider/news-1.png" alt="")
                                .main__news-slider-info
                                    span.main__news-slider-date 1 июня, 2019
                                    span.main__news-slider-title Мы переехали
                                    span.main__news-slider-text Спешим сообщить, что наш магазин на м. Савеловской переезжает в более комфортное, просторное и удобное для Вас помещение! С 17 марта ждем Вас в ТЦ "Совенок", по адресу: ул. Сущевский Вал, 5 стр.1, павильон 64L . Приходите!
                        .dp_item(data-class='2', data-position='2')
                            .main__news-slider-item
                                .main__news-slider-img
                                    img(src="./img/news-slider/news-1.png" alt="")
                                .main__news-slider-info
                                    span.main__news-slider-date 10 августа, 2020
                                    span.main__news-slider-title Мы переехали, поспешите
                                    span.main__news-slider-text Переезжает в более комфортное, просторное и удобное для Вас помещение! С 17 марта ждем Вас в ТЦ "Совенок", по адресу: ул. Сущевский Вал, 5 стр.1, павильон 64L . Приходите!
                        .dp_item(data-class='3', data-position='3')
                            .main__news-slider-item
                                .main__news-slider-img
                                    img(src="./img/news-slider/news-1.png" alt="")
                                .main__news-slider-info
                                    span.main__news-slider-date 31 января, 2044
                                    span.main__news-slider-title Мы переехали
                                    span.main__news-slider-text С 17 марта ждем Вас в ТЦ "Совенок", по адресу: ул. Сущевский Вал, 5 стр.1, павильон 64L . Приходите!
            .main__news-info
                form.main__news-subs#js-main-subs
                    input(type="email" name="mail" placeholder="Подписаться на рассылку новостей").main__news-subs-input
                    a(href="#").main__news-subs-btn.js-main-subs-btn
                        i
                            +icon("arrow")
                h2.main__news-title
                    span Новости от
                        i
                            +icon("logo")
                span.main__news-subtitle Тенденции, стиль и практические советы
                .main__news-btn
                    a(href="#").btn все новости
            .main__news-mob-slider#news-slider-mobile
                .main__news-mob-slider-item
                    .main__news-mob-slider-img
                        img(src="./img/news-slider-mobile/news-mobile-slide.png" alt="")
                    .main__news-mob-slider-info
                        span.main__news-mob-slider-date 1 июня, 2019
                        span.main__news-mob-slider-title Теперь и детский сегмент
                    .main__news-mob-slider-text По вашим многочисленным просьбам теперь на нашем сайте представлена детская одежда!
                .main__news-mob-slider-item
                    .main__news-mob-slider-img
                        img(src="./img/news-slider-mobile/news-mobile-slide-2.png" alt="")
                    .main__news-mob-slider-info
                        span.main__news-mob-slider-date 10 августа, 2021
                        span.main__news-mob-slider-title Одежда в школу
                    .main__news-mob-slider-text Теперь на нашем сайте представлена детская одежда!
                .main__news-mob-slider-item
                    .main__news-mob-slider-img
                        img(src="./img/news-slider-mobile/news-mobile-slide-3.png" alt="")
                    .main__news-mob-slider-info
                        span.main__news-mob-slider-date 28 февраля, 2019
                        span.main__news-mob-slider-title Ведуться работы на сайте
                    .main__news-mob-slider-text Ведуться работы на сайте. Ведуться работы на сайте. Ведуться работы на сайте
            .main__news-btn.mobile
                a(href="#").btn все новости
.main__insta-wrapper
    .container
        .main__insta
            .main__insta-info
                h2.main__insta-title Instashop
                a(href="#").main__insta-link @ilovemum
                span.main__insta-subtitle 84,3k followers
            .main__insta-pics#js-insta-slider
                .main__insta-img.mobile
                    h2.main__insta-title Instashop
                    a(href="#").main__insta-link @ilovemum
                    span.main__insta-subtitle 84,3k followers
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-1.png" alt="")
                    span.main__insta-likes 138
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-2.png" alt="")
                    span.main__insta-likes 138
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-3.png" alt="")
                    span.main__insta-likes 138
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-4.png" alt="")
                    span.main__insta-likes 138
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-5.png" alt="")
                    span.main__insta-likes 138
                a(href="#").main__insta-img
                    img(src="./img/instagram/insta-6.png" alt="")
                    span.main__insta-likes 138
        p.main__insta-hiddentext При покупке от 3 000 ₽ бесплатная доставка курьером в пределах мкад или Почтой россии.  Для международной доставки cкидка 500 ₽.
