.small-container
    h1.page__title Новости
.container
    .news
        .news__row
            .news__col.news__col-8
                a(href="#" style="background-image: url('./img/news/news-img_01.jpg')").news__item
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Теперь сикий  сегмент
                        .news__desc Спешим сообщить, что наш магазин на м. Савеловской переезжает
                            | в более комфортное, просторное и удобное для Вас помещение!
            .news__col.news__col-4
                a(href="#" style="background-image: url('./img/news/news-img_02.jpg')").news__item.news__item--small.news__item--small-height
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Наша одежда на ТНТ
                        .news__desc Спешим сообщить, что наш магазин бное для Вас помещение!
        .news__row
            .news__col.news__col-8
                a(href="#" style="background-image: url('./img/news/news-img_04.jpg')").news__item
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Мы переехали
                        .news__desc Спешим сообщить, что наш магазин на м. Савеловской переезжает
                            | в более комфортное, просторное и удобное для Вас помещение!
            .news__col.news__col-4
                a(href="#" style="background-image: url('./img/news/news-img_03.jpg')").news__item.news__item--small
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Самовывоз из магазина
                        .news__desc Спешим сообщить, что наш магазин бное для Вас помещение!
        .news__row
            .news__col.news__col-8
                a(href="#" style="background-image: url('./img/news/news-img_05.jpg')").news__item
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Единая система скидок
                        .news__desc Спешим сообщить, что наш магазин на м. Савеловской переезжает
                            | в более комфортное, просторное и удобное для Вас помещение!
            .news__col.news__col-4
                a(href="#" style="background-image: url('./img/news/news-img_06.jpg')").news__item.news__item--small.news__item--small-height
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Новая коллекция
                        .news__desc Спешим сообщить, что наш магазин бное для Вас помещение!
        .news__row
            .news__col.news__col-8
                a(href="#" style="background-image: url('./img/news/news-img_08.jpg')").news__item
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Back to office
                        .news__desc Спешим сообщить, что наш магазин на м. Савеловской переезжает
                            | в более комфортное, просторное и удобное для Вас помещение!
            .news__col.news__col-4
                a(href="#" style="background-image: url('./img/news/news-img_07.jpg')").news__item.news__item--small
                    .news__info
                        .news__date 1 июня, 2019
                        .news__title Витаминное настроение
                        .news__desc Спешим сообщить, что наш магазин бное для Вас помещение!


