.small-container
    h1.page__title Оплата
.container
    .payment.return
        .return__box.collapse.delivery__box
            .return__title Оплата <br>при доставке по Москве
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-nal
                            +icon("nal")
                        span Наличными курьеру
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-cards
                            +icon("cards")
                        span Банковской картой курьеру
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-online
                            +icon("online")
                        span Банковской картой онлайн
                    .return__info
                        span Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. <br>Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl. <br>При оплате средства поступают на счет в течение 3 рабочих дней.
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Оплата <br> при доставке в регионы
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon
                        span
                    .return__info
                        span
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Оплата <br>при доставке в другие страны
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon
                        span
                    .return__info
                        span
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Возврат товара
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-moscow
                            +icon("moscow")
                        span Москва
                    .return__info
                        span
                            | Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                            <br><br>
                            | 1) В розничном магазине ILoveMum в ТРК «БУМ» по адресу: Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет.
                            <br><a href="#" download="download">Скачать заявление на возврат средств.</a>
                            <br><br>
                            | 2) Возврат товара курьеру. Услуга платная:
                            <br><br>
                            | Приезд курьера в пределах МКАД — 250 руб.
                            <br>Приезда курьера за МКАД — определяется полной стоимостью доставки.
                            <br><br>
                            | Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара:
                            <br><br>
                            | Товар оплачен наличными - возврат средств только наличными;
                            <br>
                            | Товар оплачен банковской картой - возврат средств на карту, с которой был оплачен товар.
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-other-town
                            +icon("other-town")
                        span Другие города
                    .return__info
                        span
                            | Приобретая товар по почте, вернуть не подошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы можем отправить взамен другой товар или вернуть деньги на банковскую карту. В случае возврата не подошедшего товара, почтовые расходы оплачиваются отправителем.
                            <br><br>
                            | Внимание!
                            <br>
                            | Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки.
            a(href='#').return__cross
        .return__box.collapse.delivery__box
            .return__title Возврат денежных средств
            .return__desc.return__desc--padding
                .return__info-box
                    .return__info.return__info--bold
                        i.return__icon.ico-moscow
                    .return__info
                        span
            a(href='#').return__cross
