.small-container
    h1.page__title Вопросы
.container
    .return
        .return__box.collapse.question__box
                .return__title Как правильно определить и подобрать свой размер?
                .return__desc
                    .return__info
                        span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                        a(href='#').return__link данной таблицей.
                        <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
                a(href='#').return__cross

        .return__box.collapse.question__box
            .return__title Как правильно определить и подобрать свой размер?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Как узнать наличие товара в розничном магазине?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Можно ли примерить товары перед покупкой, при заказе по россии?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Когда заказ будет отправлен?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Как узнать трек номер посылки?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Как приобрести ваш товар оптом?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title С какого возраста можно носить ребенка в рюкзачке?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Чем отличаются рюкзаки переноски друг от друга?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Можно ли посадить ребенка в эргономичном рюкзачке <br> спиной к родителю (лицом к миру) как в кенгуру?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Смогу ли я самостоятельно разобраться с ношением ребенка в слинг-рюкзаке?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Как сажать малыша в слингокуртку?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross
        .return__box.collapse.question__box
            .return__title Как стать участником программы лояльности?
            .return__desc
                .return__info
                    span Вся наша одежда соответствует стандартным российским размерам. Для определения размера рекомендуем воспользоваться &shy;
                    a(href='#').return__link данной таблицей.
                    <br> При выборе размера верхней одежды для ношения в период беременности лучше ориентироваться на размер до беременности, если в комплекте к куртке есть специальная вставка для животика.
            a(href='#').return__cross