.small-container
    h1.page__title Возврат
.container
    .return
        .return__box.collapse
                .return__title Обмен и возврат товара надлежащего качества
                .return__desc
                    .return__info.return__info--bold
                        span Товар, приобретенный в магазинеilovemum.ru,<br> Вы можете обменять или вернуть в течение 14 дней со дня покупки.
                    .return__info.return__info--back
                        span Внимание! В случае возврата продукции надлежащего качества, доставка оплачивается покупателем.
                    .return__info
                        span Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                    .return__info.return__info--list
                        span.return__number 1.
                        span В розничном магазине ILOVEMUM в ТРК «БУМ» по адресу: <br> Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет. <br> Скачать заявление на возврат средств.
                    .return__info.return__info--list
                        span.return__number 2.
                        span Возврат товара курьеру. Услуга платная: <br> Приезд курьера в пределах МКАД — 250 ₽ <br> Приезд курьера за МКАД — 300 ₽ <br> Если вы заказываете новый товар, то возврат курьеру неподошедших вещей осуществляется бесплатно. Вы оплачиваете только доставку нового заказа.
                    .return__info.return__info--back
                        span Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара: <br><br> Товар оплачен наличными — возврат средств только наличными; <br>Товар оплачен банковской картой — возврат средств на карту, с которой был оплачен товар.
                    .return__info
                        span Компания ILOVEMUM гарантирует, что Вы можете обменять товар на аналогичный или произвести возврат товара надлежащего качества при следующих условиях:
                    .return__info.return__info--list
                        span.return__number 1.
                        span Товар не был в употреблении, сохранены его товарный вид, фабричные ярлыки и упаковка;
                    .return__info.return__info--list
                        span.return__number 2.
                        span Запрос на обмен или возврат товара был сделан не позднее, чем через 14 календарных дней с момента покупки (не считая дня совершения покупки).
                    .return__info
                        span При соблюдении всех вышеперечисленных условий, мы гарантируем Вам, что вернем уплаченную за возвращенный товар денежную сумму либо обменяем товар на аналогичный. <br> Если Вы производили оплату за товар безналичным платежом, то при возвращении Вами товара, возврат денежных средств производится нами только безналичным путем на Ваш расчетный счет (счет банковской карты).
                    .return__info
                        span Срок зачисления денег на Вашу карту при возврате товара составляет от одной до трех недель. Длительность срока в данном случае зависит не от нас, поскольку мы делаем перевод денежных средств за возвращенный Вами товар сразу же, а от сервиса банка, который выдал Вам Вашу банковскую карту.
                    .return__info
                        span Приобретая товар по почте, вернуть неподошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы вернем вам деньги на банковскую карту. В случае возврата неподошедшего товара, почтовые расходы оплачиваются отправителем.<br>
                        a(href='#').return__link Скачать заявление на возврат товара Почтой России.
                    .return__info Внимание! <br> Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки. Возврат можно осуществить через Почту России.<br>
                        a(href='#').return__link Скачать заявление на возврат товара Почтой России.
                a(href='#').return__cross
        .return__box.collapse
            .return__title Товар, не подлежащий обмену и возврату
            .return__desc
                .return__info.return__info--bold
                    span Товар, приобретенный в магазинеilovemum.ru,<br> Вы можете обменять или вернуть в течение 14 дней со дня покупки.
                .return__info.return__info--back
                    span Внимание! В случае возврата продукции надлежащего качества, доставка оплачивается покупателем.
                .return__info
                    span Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                .return__info.return__info--list
                    span.return__number 1.
                    span В розничном магазине ILOVEMUM в ТРК «БУМ» по адресу: <br> Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет. <br> Скачать заявление на возврат средств.
                .return__info.return__info--list
                    span.return__number 2.
                    span Возврат товара курьеру. Услуга платная: <br> Приезд курьера в пределах МКАД — 250 ₽ <br> Приезд курьера за МКАД — 300 ₽ <br> Если вы заказываете новый товар, то возврат курьеру неподошедших вещей осуществляется бесплатно. Вы оплачиваете только доставку нового заказа.
                .return__info.return__info--back
                    span Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара: <br><br> Товар оплачен наличными — возврат средств только наличными; <br>Товар оплачен банковской картой — возврат средств на карту, с которой был оплачен товар.
                .return__info
                    span Компания ILOVEMUM гарантирует, что Вы можете обменять товар на аналогичный или произвести возврат товара надлежащего качества при следующих условиях:
                .return__info.return__info--list
                    span.return__number 1.
                    span Товар не был в употреблении, сохранены его товарный вид, фабричные ярлыки и упаковка;
                .return__info.return__info--list
                    span.return__number 2.
                    span Запрос на обмен или возврат товара был сделан не позднее, чем через 14 календарных дней с момента покупки (не считая дня совершения покупки).
                .return__info
                    span При соблюдении всех вышеперечисленных условий, мы гарантируем Вам, что вернем уплаченную за возвращенный товар денежную сумму либо обменяем товар на аналогичный. <br> Если Вы производили оплату за товар безналичным платежом, то при возвращении Вами товара, возврат денежных средств производится нами только безналичным путем на Ваш расчетный счет (счет банковской карты).
                .return__info
                    span Срок зачисления денег на Вашу карту при возврате товара составляет от одной до трех недель. Длительность срока в данном случае зависит не от нас, поскольку мы делаем перевод денежных средств за возвращенный Вами товар сразу же, а от сервиса банка, который выдал Вам Вашу банковскую карту.
                .return__info
                    span Приобретая товар по почте, вернуть неподошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы вернем вам деньги на банковскую карту. В случае возврата неподошедшего товара, почтовые расходы оплачиваются отправителем.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
                .return__info Внимание! <br> Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки. Возврат можно осуществить через Почту России.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
            a(href='#').return__cross
        .return__box.collapse
            .return__title Обмен и возврат товара со скрытыми дефектами
            .return__desc
                .return__info.return__info--bold
                    span Товар, приобретенный в магазинеilovemum.ru,<br> Вы можете обменять или вернуть в течение 14 дней со дня покупки.
                .return__info.return__info--back
                    span Внимание! В случае возврата продукции надлежащего качества, доставка оплачивается покупателем.
                .return__info
                    span Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                .return__info.return__info--list
                    span.return__number 1.
                    span В розничном магазине ILOVEMUM в ТРК «БУМ» по адресу: <br> Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет. <br> Скачать заявление на возврат средств.
                .return__info.return__info--list
                    span.return__number 2.
                    span Возврат товара курьеру. Услуга платная: <br> Приезд курьера в пределах МКАД — 250 ₽ <br> Приезд курьера за МКАД — 300 ₽ <br> Если вы заказываете новый товар, то возврат курьеру неподошедших вещей осуществляется бесплатно. Вы оплачиваете только доставку нового заказа.
                .return__info.return__info--back
                    span Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара: <br><br> Товар оплачен наличными — возврат средств только наличными; <br>Товар оплачен банковской картой — возврат средств на карту, с которой был оплачен товар.
                .return__info
                    span Компания ILOVEMUM гарантирует, что Вы можете обменять товар на аналогичный или произвести возврат товара надлежащего качества при следующих условиях:
                .return__info.return__info--list
                    span.return__number 1.
                    span Товар не был в употреблении, сохранены его товарный вид, фабричные ярлыки и упаковка;
                .return__info.return__info--list
                    span.return__number 2.
                    span Запрос на обмен или возврат товара был сделан не позднее, чем через 14 календарных дней с момента покупки (не считая дня совершения покупки).
                .return__info
                    span При соблюдении всех вышеперечисленных условий, мы гарантируем Вам, что вернем уплаченную за возвращенный товар денежную сумму либо обменяем товар на аналогичный. <br> Если Вы производили оплату за товар безналичным платежом, то при возвращении Вами товара, возврат денежных средств производится нами только безналичным путем на Ваш расчетный счет (счет банковской карты).
                .return__info
                    span Срок зачисления денег на Вашу карту при возврате товара составляет от одной до трех недель. Длительность срока в данном случае зависит не от нас, поскольку мы делаем перевод денежных средств за возвращенный Вами товар сразу же, а от сервиса банка, который выдал Вам Вашу банковскую карту.
                .return__info
                    span Приобретая товар по почте, вернуть неподошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы вернем вам деньги на банковскую карту. В случае возврата неподошедшего товара, почтовые расходы оплачиваются отправителем.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
                .return__info Внимание! <br> Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки. Возврат можно осуществить через Почту России.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
            a(href='#').return__cross
        .return__box.collapse
            .return__title Рекомендации по уходу за изделиями
            .return__desc
                .return__info.return__info--bold
                    span Товар, приобретенный в магазине ilovemum.ru,<br> Вы можете обменять или вернуть в течение 14 дней со дня покупки.
                .return__info.return__info--back
                    span Внимание! В случае возврата продукции надлежащего качества, доставка оплачивается покупателем.
                .return__info
                    span Приобретая товар с Курьерской доставкой по Москве, вернуть не подошедший товар можно в течение 14 дней со дня покупки:
                .return__info.return__info--list
                    span.return__number 1.
                    span В розничном магазине ILOVEMUM в ТРК «БУМ» по адресу: <br> Москва ул. Перерва, д. 43, корп. 1, ст. метро «Братиславская». При возврате товара в розничный магазин, возврат денежных средств осуществляется только в безналичной форме: на карту или счет. <br> Скачать заявление на возврат средств.
                .return__info.return__info--list
                    span.return__number 2.
                    span Возврат товара курьеру. Услуга платная: <br> Приезд курьера в пределах МКАД — 250 ₽ <br> Приезд курьера за МКАД — 300 ₽ <br> Если вы заказываете новый товар, то возврат курьеру неподошедших вещей осуществляется бесплатно. Вы оплачиваете только доставку нового заказа.
                .return__info.return__info--back
                    span Возврат средств осуществляется наличными или на банковскую карту, в зависимости от способа оплаты товара: <br><br> Товар оплачен наличными — возврат средств только наличными; <br>Товар оплачен банковской картой — возврат средств на карту, с которой был оплачен товар.
                .return__info
                    span Компания ILOVEMUM гарантирует, что Вы можете обменять товар на аналогичный или произвести возврат товара надлежащего качества при следующих условиях:
                .return__info.return__info--list
                    span.return__number 1.
                    span Товар не был в употреблении, сохранены его товарный вид, фабричные ярлыки и упаковка;
                .return__info.return__info--list
                    span.return__number 2.
                    span Запрос на обмен или возврат товара был сделан не позднее, чем через 14 календарных дней с момента покупки (не считая дня совершения покупки).
                .return__info
                    span При соблюдении всех вышеперечисленных условий, мы гарантируем Вам, что вернем уплаченную за возвращенный товар денежную сумму либо обменяем товар на аналогичный. <br> Если Вы производили оплату за товар безналичным платежом, то при возвращении Вами товара, возврат денежных средств производится нами только безналичным путем на Ваш расчетный счет (счет банковской карты).
                .return__info
                    span Срок зачисления денег на Вашу карту при возврате товара составляет от одной до трех недель. Длительность срока в данном случае зависит не от нас, поскольку мы делаем перевод денежных средств за возвращенный Вами товар сразу же, а от сервиса банка, который выдал Вам Вашу банковскую карту.
                .return__info
                    span Приобретая товар по почте, вернуть неподошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы вернем вам деньги на банковскую карту. В случае возврата неподошедшего товара, почтовые расходы оплачиваются отправителем.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
                .return__info Внимание! <br> Товар, купленный через транспортную компанию СДЭК, можно вернуть в течение 7 дней после доставки. Возврат можно осуществить через Почту России.<br>
                    a(href='#').return__link Скачать заявление на возврат товара Почтой России.
            a(href='#').return__cross