doctype html
include ../chunks/mixin.pug
html(lang="ru").no-js
    head
        include ../chunks/head.pug
    block body
        .page-wrapper.loyalty#page-wrapper
            include ../chunks/header.pug
            .page-body#page-body
                include ../chunks/loyalty.pug
            include ../chunks/footer.pug

    include ../chunks/scripts.pug
