.about {
  .big-container {max-width: 1366px;}
  &__row {display: flex;margin-bottom: 80px;
    &-reverse {flex-direction: row-reverse;
      .about {
        &__col {
          &-8 {padding-right: 0; padding-left: 50px;}
          &-4 {padding: 0 30px 25px 130px;}
        }
      }
    }
  }
  &__col {display: flex;flex-direction: column; justify-content: center;
    &-8 {flex-basis: 60%;padding-right: 50px;}
    &-4 {flex-basis: 40%;padding: 6px 80px 0 45px;}
  }
  &__item {
    .btn {width: 220px;}
    img {display: block; width: 100%; height: 100%;object-fit: cover;}
  }
  &__title {font-size: 36px;font-weight: 400;}
  &__logo {width: 152px; height: 22px; margin-bottom: 35px;
    svg {width: 100%; height: 100%;}
  }
  &__desc {font-size: 24px; margin: 20px 0; line-height: 1.5;
    span {font-size: 36px;}
  }
  &-info {
    &__row {display: flex;margin: 80px -20px}
    &__item {display: flex;flex-direction: column;justify-content: center;background-color: #f2f5f5;text-align: center;margin: 0 20px;min-height: 380px;width: 20%;color: #000;transition: background-color .3s;
      &:hover {background-color: #000; color: #fff;}
    }
    &__number {font-size: 60px;font-weight: 300;margin-bottom: 12px;}
    &__desc {font-size: 18px;font-weight: 300;}
  }
  &__discount {max-width: 600px; margin: 40px auto 50px; display: flex;flex-direction: column; padding-left: 154px; position: relative;
    &-mark {width: 300px;height: 100px;transform: rotate(-90deg); position: absolute;background-color: #f2f5f5;display: flex;align-items: center;padding: 0 40px;left: -94px;top: 63px;font-size: 18px;
      span {margin-bottom: 4px;}
      span:after {content: '';width: 140px;height: 1px;background-color: #000;display: block;position: absolute;right: 46px; top: 50%; transform: translateY(-50%);}
    }
    .about {
      &__title {position: relative;z-index: 1;margin: 0 0 8px -80px;max-width: 300px;line-height: 1.3;}
    }
  }
  &__details {display: flex;margin: 0 auto; max-width: 700px; width: 100%;
    &-title {font-size: 24px;width: 29%;padding: 0 6px;}
    &-info {width: 71%;}
    &-desc {display: flex; font-size: 18px; font-weight: 300;padding-bottom: 14px;
      span {width: 50%;
        span {font-size: 14px;margin-left: -30px;}
        &:last-of-type{padding-left: 30px;}
      }
      &:last-child{padding-bottom: 0;}
    }
  }
}

@media (max-width: 1366px) {
  .about {
    &-info {
      &__row {margin: 60px -30px;}
      &__item {margin: 0 10px;padding: 15px;}
    }
  }
}
@media (max-width: 991px) {
  .about {
    &-info {
      &__row {flex-wrap: wrap;}
      &__item {min-height: 300px;width: calc(33.3% - 40px); margin: 20px;}
    }
    &__row-reverse {
      .about__col-4 {padding-left: 80px;padding-right: 0;}
    }
    &__col {
      &-4 {padding-left: 0;}
    }
  }
}
@media (max-width: 767px) {
  .about {
    &__row {position: relative;margin-bottom: 10px;
      .btn {color: #fff; background-color: transparent; border: 1px solid #fff;font-size: 14px;}
      &-reverse {
        .about {
          &__col {padding: 0;
            &-4 {padding: 30px 15px 8px 50px;}
          }
          &__desc {line-height: 1.3;}
        }
      }
    }
    &__col {flex-basis: 100%;padding: 0;
      &-4 {position: absolute;padding: 8px 30px 8px 50px;}
      &-8 {position: relative;
        &:before {content: ''; position: absolute; top: 0;left: 0;right: 0;bottom: 0; background-color: #000; opacity: .5;}
      }
    }
    &__item {height: 450px;display: flex;flex-direction: column;justify-content: center;color: #fff;}
    &__logo {margin-bottom: 10px;
      svg {fill: #fff;}
    }
    &__title {font-size: 30px;}
    &__desc {font-size: 18px;line-height: 1.1;}
    &-info {
      &__row {margin: 0 -10px 10px;justify-content: flex-start;}
      &__item {width: calc(50% - 20px); margin: 10px;min-height: 190px;}
      &__number {font-size: 36px;margin: 0;}
      &__desc {font-size: 14px;}
    }
    &__discount {margin: 50px auto 40px;padding-left: 114px;min-height: 255px;
      .about {
        &__title {font-size: 24px; margin: 0 0 8px -55px;max-width: 170px;}
        &__desc {font-size: 16px;line-height: 1.5;}
      }
      &-mark {height: 80px;left: -108px;top: 74px;font-size: 14px;padding-left: 55px;}
    }
    &__details {flex-direction: column;margin: 20px 0 0;
      &-title {font-size: 24px;padding: 0;}
      &-desc {font-size: 14px;font-weight: 300;padding-bottom: 20px;
        span {width: 69%;
          &:first-child {width: 31%;}
        }
      }
      &-info {width: 100%;margin: 28px 0 25px;}
    }
  }
}