.buy {
  &__box {display: flex;flex-direction: column;margin: 0 108px;
    &:last-child {
      .buy {
        &__number:before {display: none;}
      }
    }
  }
  &__row {display: flex;}
  &__col {padding-top: 20px;position: relative;}
  &__number {width: 100px;height: 100px;line-height: 100px;text-align: center;font-size: 36px;font-weight: 300;border: 1px solid #000;
    &:before {content: '';position: absolute; width: 1px;height: calc(100% - 100px);background-color: #000;top: 120px;left: 50px;}
  }
  &__content {display: flex;flex-direction: column;padding: 30px 55px;}
  &__title {font-size: 16px;font-weight: 500; width: 15%;padding-right: 15px;
    &-wrap {display: flex;margin-bottom: 50px;}
  }
  &__desc {font-size: 14px;font-weight: 300;width: 74%;line-height: 1.3;
    a {color: #000; text-decoration: underline; margin: 0 5px;}
  }
  &__img {box-shadow: 0 0 15px #777;
    img {width: 100%;height: 100%;display: block;}
  }
}

@media (max-width: 1365px) {
  .buy {
    &__box {margin: 0;padding: 0 15px;}
  }
}

@media (max-width: 991px) {
  .buy {
    &__number {width: 70px;height: 70px;line-height: 70px;font-size: 30px;
      &:before {top: 90px;left: 35px;height: calc(100% - 70px);}
    }
    &__content {padding: 15px 30px;}
    &__title {width: 22%;}
  }
}

@media (max-width: 767px) {
  .buy {
    &__number {position: absolute;width: 50px; height: 50px;line-height: 50px;font-size: 26px;
      &:before {display: none;}
    }
    &__content {padding: 7px 0;}
    &__title {width: 250px; padding-left: 70px;min-height: 38px; display: flex; align-items: center;
      &-wrap {flex-direction: column;margin-bottom: 30px;}
    }
    &__desc {padding-top: 20px;width: 100%;}
  }
}