.breadcrumbs {margin-left: 50px;margin-bottom: 50px;
  & > a {color: #b5b5b5; text-decoration: none;position: relative;font-size: 11px;font-weight: 300;
    &:after {content: '/';margin: 0 5px 0 6px;text-decoration: none;}
  }
  span {font-size: 11px;font-weight: 300;}
}

.card {
  .header__search-wrapper {display: none;}
  &__row {display: flex;align-items: flex-start;
    &:nth-child(even) {flex-direction: row-reverse;}
    &--margin {margin: 60px 0 80px;}
  }
  &__col {width: 50%; margin: 0 50px;padding-right: 20px;}
  &__img {padding-right: 10px;
    &:not(:first-child) {
      display: none;
    }
    img {width: 100%;height: 100%;display: block;}
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 120px;
    padding-top: 75px;
    &.options {
      justify-content: flex-start;
      padding-top: 140px;
    }
  }
  &__status {font-size: 11px;font-weight: 300;
    svg {width: 50px;height: 50px;margin-left: -10px;}
  }
  &__articles {font-size: 14px;font-weight: 300;color: #b5b5b5;margin-bottom: 10px;
    span {margin-left: 3px;}
  }
  &__name {font-size: 24px;display: flex;flex-wrap: wrap;
    h1 {display: inline-block;margin-bottom: 15px;
      &:first-child{width: 100%;}
    }
    h1 {
      width: 100%;
      display: inline-block;
      margin-bottom: 15px;
      font-weight: 400;
    }
  }
  &__price {margin-bottom: 15px;
    span {font-size: 24px;}
  }
  &__delivery {font-size: 12px;font-weight: 300;color: #000; text-decoration: underline;margin-left: 47px;
    &:hover {text-decoration: none;}
  }
  &__color-type {font-size: 14px;margin-bottom: 17px;}
  &__colors {display: flex; flex-wrap:wrap;margin: -11px;margin-bottom: 12px;position: relative;
    &.opened {
      .card__goods {display: block;}
    }
  }
  &__goods {width: 74px;height: 100px;display: block;margin: 11px;border: 1px solid transparent;
    &:hover {border-color: #2d2d2d;}
    &:nth-child(n+6) {display: none;}
    img {display: block;width: 100%;height: 100%;}
    &.current {border: 1px solid #2d2d2d;}
  }
  &__more {position: absolute;  top: 47px; right: 24px; width: 30px;height: 30px;
    span {display: flex; width: 6px;height: 6px;background-color: #2d2d2d; border-radius: 100%;margin: 0 auto; position: relative;top: 12px;
      &:before {content: ''; display: block; width: 6px;height: 6px;background-color: #2d2d2d;border-radius: 100%; position: absolute; left: -9px;}
      &:after {content: ''; display: block; width: 6px;height: 6px;background-color: #2d2d2d;border-radius: 100%; position: absolute; left: 9px;}
    }
    
  }
  &__size {display: flex;align-items: center;max-width: 315px;margin-bottom: 18px;
    &-choice {display: flex; border: 1px solid #b7b7b7;
      a {width: 39px;height: 39px;background-color: #f1f4f4;border-right: 1px solid #b7b7b7;color: #b5b5b5;font-size: 14px;font-weight: 300;text-align: center;line-height: 39px; cursor: no-drop;
        &:last-child {border-right: none;}
        &.available {background-color: #fff;color: #000;cursor: pointer;
          &:hover {opacity: .7;}
        }
        &.current {color: #fff;background-color: #2d2d2d;cursor: pointer;
          &:hover {opacity: 1;}
        }
      }
    }
    &-edit {color: #000;font-size: 12px;font-weight: 300;margin-left: 30px;padding-left: 27px;
      &:hover {text-decoration: underline;}
      i {width: 21px; height: 24px; margin-left: -29px;margin-top: 1px;}
    }
    &-store {font-size: 12px;font-weight: 300;margin-bottom: 9px;
      a {color: #000;text-decoration: underline; margin-left: 3px;}
    }
  }
  &__store {font-size: 12px;display: flex;font-weight: 300;flex-direction: column;padding: 12px 14px 10px;background-color: #f1f4f4;
    &.active {display: flex;}
    &-box {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 315px;
      position: relative;
      margin-bottom: 22px;
      .card__store-hidden {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 2;
        left: 0;
        top: 100%;
      }
      &.opened {
        .card__store {display: flex;
          a {text-decoration: underline;
            &:hover {text-decoration: none;}
          }
          &-cross {
            &:after {display: none;}
          }
        }
        .card__store-hidden {
          display: block;
        }
      }
    }
    a {color: #000;
      &:hover {text-decoration: underline;}
    }
    span {
      span {margin-left: 3px;}
    }
    &-cross {position: absolute;width: 16px;height: 16px;display: block;top: 18px;right: 10px;
      &:before {position: absolute;content: '';width: 13px;height: 1px;background-color: #000;display: block;top: 50%;}
      &:after {position: absolute;content: '';width: 13px;height: 1px;background-color: #000;transform: rotate(90deg);top: 50%;display: block;}
    }
  }
  &__buttons {display: flex;margin: 0 -5px;
    .btn {width: 50%;padding: 8px 10px; margin: 0 5px;border: 1px solid #2d2d2d;position: relative;display: flex;align-items: center;justify-content: center;}
    i {width: 22px;height: 23px;position: relative;margin-right: 11px;
      svg {fill: #fff;}
    }
  }
  &__infobox {display: flex;flex-direction: column;max-width: 458px;}
  &__tabs {display: flex;border-bottom: 1px solid #c2c2c2;}
  &__tab {padding: 11px 23px;font-size: 14px;font-weight: 700;display: flex;white-space: nowrap;
    &.current {background-color: #2d2d2d; color: #fff;
      .bx_item_detail_rating .bx_stars_progress {background: #fff;}
      .bx_item_detail_rating .bx_stars_bg {background: url('../img/pngsprite/stars-white.png') no-repeat center;}
    }
    .card {
      &__desc {
        &-info {display: none;}
        &-wrap {display: none;}
      }
    }
  }
  &__content {padding: 16px 23px;display: none;
    &.current {display: block;}
  }
  &__desc {display: flex;margin-bottom: 8px;
    &-wrap {display: flex;flex-direction: column;max-width: 380px;margin-bottom: 10px;font-size: 14px;font-weight: 300;}
    span {
      &:first-child {width: 47%;font-weight: 700;}
    }
    &-info {font-size: 14px;font-weight: 300;max-width: 380px;line-height: 1.3;}
  }
  &__share {display: flex;justify-content: space-between;padding: 11px 0 11px 23px;border-top: 1px solid #c2c2c2;
    span {font-size: 14px;font-weight: 700;}
    &-links {display: flex;margin-right: -22px;
      a {width: 31px;height: 17px;display: block;margin: 0 10px;transition: opacity .3s;
        svg {width: 100%;height: 100%;}
        &:hover {opacity: .7;}
      }
    }
  }
  &__feedback {margin: 0 5px 0 3px;}
  &__actual-wrapper {margin-bottom: 20px;}
  &__fixed {width: 100%; display: flex;padding: 20px 65px;justify-content: space-between;
    .card {
      &__size {margin: 0;padding-left: 80px;}
      &__buttons {width: 46%;margin: 0;}
    }
    &-wrap {position: fixed;bottom: 30px;transform: translateY(330px); width: 100%;background-color: #fff;box-shadow: 0px 0px 15px #2d2d2d;transition: all .3s;z-index: 101;
      &.visibility {display: block;transform: translateY(0);}
    }
    &-size {display: none;}
  }
  &__fixed-mob {display: none;}
  .catalog__box-item {

  }
  .catalog__box-content {
    height: 350px;
    width: 270px;
  }
  .catalog__box-info {
    width: 80%;
  }
  .catalog__box-sizes-item a {
    width: 32px;
    height: 32px;
  }
  .catalog__box-sizes {
    margin-bottom: 20px;
  }
  .catalog__box-tocart a {
    width: 191px;
  }
  .catalog__box-tocart a i {
    width: 19px;
    height: 18px;
    left: 42px;
    top: 9px;
  }
  .catalog__box-tocart {
    margin-bottom: 0;
  }
  .catalog__box-option i {
    width: 34px;
    height: 34px;
  }
  .catalog__box-discount {
    width: 34px;
    height: 34px;
    bottom: 50px;
  }
  .catalog__box-content .js-catalog-cart {
    bottom: 16px;
    right: 20px;
    width: 22px;
    height: 27px;
  }
  .catalog__box-content .js-catalog-zoom {
    right: 16px;
    width: 26px;
    height: 26px;
    transform: translateX(calc(100% + 16px));
  }
  .catalog__box-item {
    margin-bottom: 0;
  }
}

.btn--border {background-color: #fff;color: #000;
  &:hover {color: #fff;}
}

.tab {cursor: pointer;}
.container-card {display: flex;flex-direction: column;}

@media (max-width: 1365px) {
  .card {
    &__row {
      &--margin {margin: 30px 0 80px;}
    }
    &__col {margin: 0;}
    &__goods {
      &:nth-child(n+5) {display: none;}
    }
    &__infobox {max-width: 420px;}
    &__tabs {justify-content: space-between;}
    &__tab {padding: 11px 16px;}
  }
}

@media (max-width: 991px) {
  .card {
    &__row {flex-direction: column;
      &:nth-child(even) {flex-direction: column-reverse;}
      &--margin {margin: 0 0 40px; }
    }
    &__col {width: 100%;padding: 0;}
    &__img {padding: 0;}
    &__goods {display: block!important;margin: 10px;
      &:nth-child(n+7) {display: none!important;}
    }
    &__colors {margin: -10px;margin-bottom: 12px;
      &.opened {
        .card__goods {display: block!important;}
      }
    }
    &__info {margin-bottom: 60px;margin-top: -20px;padding-top: 0;}
    &__infobox {max-width: none;}
    &__tab {width: 33.3%;justify-content: center;}
    &__desc {
      &-info {max-width: none;}
      &-wrap {max-width: none;}
    }
    &__img {margin-bottom: 40px;}
    &__fixed {padding: 20px 0;
      .card {
        &__size {padding-left: 5px;}
        &__buttons {width: 50%;}
      }
      .btn {white-space: nowrap;}
    }
  }
  .breadcrumbs {
    margin-left: 0;margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .breadcrumbs {
    span {display: none;}
    a {display: none;color: #252525;font-size: 14px;font-weight: 400;
      &:after {display: none;}
      &:before {content: ''; width: 31px;height: 11px;display: inline-block;background: url("../img/svg/arrow.svg") no-repeat center center; transform: rotate(180deg);}
      &:last-of-type {display: block;}
    }
  }
  .card {
    &__row {position: relative;order: 1;
      &:nth-child(even) {order: 2;flex-direction: column;}
      &--margin {flex-direction: row; margin: 0 -15px 20px;justify-content: space-between;
        .card {
          &__col {width: calc(50% - 10px);}
          &__img {margin: 0;}
        }
      }
    }
    &__status {position: absolute;top: 0;right: -15px;}
    &__img {margin-right: -15px;margin-left: -15px;margin-bottom: 25px;}
    &__articles {font-size: 12px;margin-bottom: 5px;}
    &__name {font-size: 18px;
      h1 {width: 30%;text-align: right;margin-bottom: 9px;
        &:first-child {font-size: 16px;width: 70%;text-align: left;}
      }
      a {width: 100%;margin-left: 0;margin-bottom: 17px;}
    }
    &__colors {margin: -10px -5px;}
    &__goods {margin: 10px 5px;
      &:nth-child(n+4) {display: none!important;}
    }
    &__more {right: 0;}
    &__size {display: none;
      &-store {display: none;}
    }
    &__store-box {display: none;}
    &__buttons {display: none;}
    &__info {margin-bottom: 20px;}
    &__tabs {flex-direction: column;border: none;margin-bottom: 48px;}
    &__tab {width: 100%;white-space: normal;flex-wrap: wrap;justify-content: flex-start;max-height: 54px;overflow: hidden; border-bottom: 1px solid #c2c2c2;position: relative;cursor: auto;
      &>span {margin: 8px 0 19px;}
      &.current {background-color: #fff;color: #000;
        .bx_item_detail_rating .bx_stars_bg {background: url(../img/pngsprite/stars.png) no-repeat center;}
        .bx_item_detail_rating .bx_stars_progress {background: #2d2d2d;}
      }
      .card {
        &__desc {
          span {width: 50%;}
          &-info {display: block;}
          &-wrap {display: block;width: 100%;}
        }
      }
      &.active {max-height: none;
        .card {
          &__cross {
            &:after {display: none;}
          }
        }
      }
    }
    &__cross {position: absolute; top: 21px; right: 31px; min-width: 13px;height: 13px;display: block;cursor: pointer;
      &:before {position: absolute; content: ''; width: 13px;height: 1px;background-color: #000; display: block; top: 50%;}
      &:after {position: absolute; content: ''; width: 13px;height: 1px;background-color: #000; transform: rotate(90deg); top: 50%; display: block;}
    }
    &__content {
      &.current {display: none;}
    }
    &__share {display: none;}
    &__infobox {margin: -5px -15px 0;}
    &__fixed {display: none;
      &-wrap {transform: translateY(0);z-index: 104;
        &.size-opened {
          .card {
            &__fixed {
              &-mob {visibility: hidden;}
              &-size {display: block;width: calc(100% - 15px);}
            }
          }
        }
        & > .container {
          position: relative;
        }
      }
      .card {
        &__size {display: flex;}
        &__buttons {display: flex;}
      }
      &-mob {display: flex;flex-wrap: wrap;margin: 0 -5px;padding: 12px 0;position: relative;z-index: 103;
        .btn {width: calc(50% - 10px);display: flex;justify-content: center;margin: 5px;padding: 8px 10px;position: relative;
          &--no-border {width: 100%;background-color: #fff; color: #000;padding: 2px;}
          &__size {background-color: #fff; color: #000;font-size: 12px;font-weight: 700;text-transform: none;cursor: pointer;border: 1px solid #000;justify-content: flex-start;
            span {margin-top: 2px;}
          }
          i {margin: 0;}
          &__cross {position: absolute; top: 12px; right: 12px; min-width: 13px;height: 13px;display: block;cursor: pointer;
            &:before {position: absolute; content: ''; width: 13px;height: 1px;background-color: #000; display: block; top: 50%;}
            &:after {position: absolute; content: ''; width: 13px;height: 1px;background-color: #000; transform: rotate(90deg); top: 50%; display: block;}
          }
        }
      }
      &-size {position: absolute;background-color: transparent;z-index: 104;top: -44px;display: none;
        .card {
          &__size {display: flex;flex-wrap: wrap;
            &-edit {padding: 15px 30px;margin: 0;color: #fff;
              i {margin-top: -7px;
                svg {fill: #fff;}
              }
            }
            span {display: block;padding: 15px 0;width: 100%;background-color: #fff;font-size: 12px;font-weight: 700;}
            &-cross {position: absolute;display: block;top: 15px; right: 15px;width: 14px;height: 14px; cursor: pointer;
              &:before {position: absolute;content: '';width: 14px;height: 2px;background-color: #fff;display: block;top: 50%;transform: rotate(45deg);}
              &:after {position: absolute;content: '';width: 14px;height: 2px;background-color: #fff;display: block;top: 50%;transform: rotate(-45deg);}
            }
          }
        }
      }
    }
  }
  .bx_item_detail_rating {margin: 8px 12px 19px;}
}



/* Start:/local/templates/design2017/components/bitrix/iblock.vote/stars/style.css?1511479411973*/
.bx_item_detail_rating td{
  vertical-align: bottom;
  text-align: right;
}
.bx_item_detail_rating .bx_item_rating{
  text-align: right;
}
.bx_item_detail_rating .bx_stars_container{
  position: relative;
  width: 68px;
  height: 17px;
  background: #c2c2c2;
  background-size: 100% 100%;
}
.bx_item_detail_rating .bx_stars_bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: url('../img/pngsprite/stars.png') no-repeat center;
}

.bx_item_detail_rating .bx_stars_progress{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #2d2d2d;
}
.bx_item_detail_rating .bx_stars_rating_votes{
  color: #8d8d8d;
  font-size: 11px;
  line-height: 11px;
  vertical-align: middle;
}

/*.bx_item_detail_rating .bx_vam{vertical-align: middle;}*/

@media (max-width:530px){
  .bx-touch .bx_item_detail_rating .bx_stars_container{
    height: 15px;
    margin: 4px 0;
  }
  .bx_item_detail_rating .bx_stars_rating_votes{
    font-size: 7px;
    line-height: 7px;
  }
}
/* End */
