.cart .checkout__order-price.mobile {
  display: none;
}
.cart {position: fixed; right: 0;background-color: #fff; z-index: 110; transform: translateX(500px);transition: transform .3s;height: 100%;overflow-x: auto;
  &.opened {transform: translateX(0);}
  .card {
    &__store {display: inline-block;font-size: 14px;
      &-box {max-width: none;display: flex;}
    }
    &__buttons {display: flex;}
  }
  .btn {padding: 10px;}
  .checkout {
    &__aside {width: 470px; padding: 34px 45px;}
  }
  &__cross {position: absolute;display: block;top: 38px; right: 44px;width: 14px;height: 14px; cursor: pointer;
    &:before {position: absolute;content: '';width: 14px;height: 2px;background-color: #000;display: block;top: 50%;transform: rotate(45deg);}
    &:after {position: absolute;content: '';width: 14px;height: 2px;background-color: #000;display: block;top: 50%;transform: rotate(-45deg);}
  }
}

@media (max-width: 500px) {
  .cart {
    .checkout {
      &__aside {width: 100%;padding: 20px 15px;}
    }
    &__cross {top: 24px;right: 15px;}
    .card {
      &__buttons {flex-direction: column;margin: 0;
        .btn {width: 100%;margin: 0 0 15px;}
      }
    }
  }
}