img[data-fancybox] {pointer-events: none;}

.fancybox-content {padding: 0;}

.fancy-img {position: relative;z-index: 999;}

.catalog {
  &__wrapper {
    margin-bottom: 40px;
    .breadcrumbs {
      margin-bottom: 31px;
    }
  }
  &__head {
    width: 100%;
    height: 101px;
    margin-bottom: 32px;
    margin-bottom: 32px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 0 50px;
  }
  &__line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  &__filter {
    display: flex;
    align-items: center;
    span {
      color: #252525;
      font-size: 14px;
      display: inline-block;
      font-weight: 700;
      &.mobile {
        display: none;
      }
    }
    .ico-filter {
      position: relative;
      width: 16px;
      height: 13px;
      margin-right: 10px;
    }
    .ico-add {
      position: relative;
      width: 13px;
      height: 13px;
      margin-left: 9px;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: #000;
  }
  &__sort {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 14px;
    position: relative;
    b {
      padding-right: 3px;
    }
    .ico-add {
      position: relative;
      width: 13px;
      height: 13px;
      margin-left: 7px;
    }
    .jq-selectbox__select {
      height: auto;
      padding: 0;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font: 14px/1 Roboto, sans-serif;
      font-weight: 300;
      color: #2d2d2d;
      text-shadow: none;
    }
    .jq-selectbox.focused .jq-selectbox__select {
      border: none;
    }
    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 0;
      right: -18px;
      width: 13px;
      height:13px;
      border: none !important;
      transition: none;
      background: url(../img/svg/add.svg) no-repeat center;
    }
    .jq-selectbox.opened .jq-selectbox__trigger-arrow {
      transform: rotate(0);
      background: url(../img/svg/remove.svg) no-repeat center;
    }
    .jq-selectbox__dropdown {
      right: -20px;
      margin: 8px 0 0;
    }
    .jq-selectbox, .jq-select-multiple {
      position: static;
    }
  }
  &__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    &:after {
      content: '';
      height: 0;
      width: 336px;
      opacity: 0;
    }
  }
  &__box-item {
    width: 336px;
    margin-bottom: 40px;
    &.active {
      .catalog__box-info {
        opacity: 1;
      }
    }
  }
  &__box-content {
    position: relative;
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 13px;
    .js-catalog-zoom {
      position: absolute;
      top: 19px;
      right: 21px;
      width: 31px;
      height: 31px;
      display: inline-block;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0;
      transform: translateX(calc(100% + 21px));
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
      svg {
        fill: #b4b4b4;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg {
          fill: #999999;
        }
      }
    }
    .js-catalog-cart {
      position: absolute;
      bottom: 23px;
      right: 24px;
      width: 26px;
      height: 27px;
      display: inline-block;
      z-index: 2;
      svg {
        fill: #2d2d2d;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg {
          fill: #0D0D0D;
        }
      }
    }
  }
  &__box-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:nth-child(n+2) {
        display: none;
        pointer-events: none;
      }
    }
  }
  &__content {
    padding: 0 50px;
  }
  &__line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  &__filter {
    display: flex;
    align-items: center;
    span {
      color: #252525;
      font-size: 14px;
      display: inline-block;
      font-weight: 700;
      &.mobile {
        display: none;
      }
    }
    .ico-filter {
      position: relative;
      width: 16px;
      height: 13px;
      margin-right: 10px;
    }
    .ico-add {
      position: relative;
      width: 13px;
      height: 13px;
      margin-left: 9px;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: #000;
  }
  &__sort {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 14px;
    position: relative;
    margin-right: 20px;
    b {
      padding-right: 3px;
    }
    .ico-add {
      position: relative;
      width: 13px;
      height: 13px;
      margin-left: 7px;
    }
    .jq-selectbox__select {
      height: auto;
      padding: 0;
      border: none;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      font: 14px/1 Roboto, sans-serif;
      font-weight: 300;
      color: #2d2d2d;
      text-shadow: none;
    }
    .jq-selectbox.focused .jq-selectbox__select {
      border: none;
    }
    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 0;
      right: -18px;
      width: 13px;
      height:13px;
      border: none !important;
      transition: none;
      background: url(../img/svg/add.svg) no-repeat center;
    }
    .jq-selectbox.opened .jq-selectbox__trigger-arrow {
      transform: rotate(0);
      background: url(../img/svg/remove.svg) no-repeat center;
    }
    .jq-selectbox__dropdown {
      right: -20px;
      margin: 8px 0 0;
    }
    .jq-selectbox, .jq-select-multiple {
      position: static;
    }
  }
  &__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    &:after {
      content: '';
      height: 0;
      width: 336px;
      opacity: 0;
    }
  }
  &__box-item {
    width: 336px;
    margin-bottom: 40px;
  }
  &__box-content {
    position: relative;
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 13px;
    .js-catalog-zoom {
      position: absolute;
      top: 19px;
      right: 21px;
      width: 31px;
      height: 31px;
      display: inline-block;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0;
      transform: translateX(calc(100% + 21px));
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
      svg {
        fill: #b4b4b4;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg {
          fill: #999999;
        }
      }
    }
    .js-catalog-cart {
      position: absolute;
      bottom: 23px;
      right: 24px;
      width: 26px;
      height: 27px;
      display: inline-block;
      z-index: 2;
      svg {
        fill: #2d2d2d;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg {
          fill: #0D0D0D;
        }
      }
    }
  }
  &__box-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__box-info {
    opacity: 0;
    position: relative;
    z-index: -1;
    width: 300px;
    background-color: rgba(37,37,37,.5);
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 18px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    &.hover {
      opacity: 1;
    }
    .close {
      cursor: pointer;
      width: 10px;
      height: 10px;
      top: 7px;
      right: 7px;
      svg {
        fill: #fff;
        -webkit-transition: fill 0.2s ease;
        transition: fill 0.2s ease;

      }
      &:hover {
        svg {
          fill: #cccccc;
        }
      }
    }
  }
  &__box-sizes {
    display: flex;
    margin-bottom: 25px;
  }
  &__box-sizes-item {
    &:not(:first-child) {
      a {
        border-left: none;
      }
    }
    &.unactive {
      cursor: not-allowed;
      a {
        pointer-events: none;
        background-color: #f1f4f4;
        color: #b5b5b5;
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 40px;
      height: 40px;
      color: #252525;
      background-color: #fff;
      border: 1px solid #b7b7b7;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover,
      &.active {
        border-color: #252525;
        color: #fff;
        background-color: #252525;
      }
    }
  }
  &__box-tocart {
    margin-bottom: 9px;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 238px;
      height: 40px;
      background-color: #2d2d2d;
      color: #fff;
      padding-left: 35px;
      text-transform: uppercase;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #151515;
      }
      i {
        content: '';
        position: absolute;
        width: 22px;
        height: 23px;
        left: 65px;
        top: 9px;
        svg {
          fill: #fff;
        }
      }
    }
  }
  &__box-oneclick {
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 238px;
      height: 40px;
      background-color: rgba(255,255,255,.4);
      color: #2d2d2d;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border: 1px solid #2d2d2d;
      &:hover {
        background-color: #2d2d2d;
        color: #fff;
      }
    }
  }
  &__box-option {
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    z-index: 2;
    i {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      background-color: rgba(0,0,0,.5);
      padding: 5px;
      &:not(:last-child) {
        margin-right: 5px;
      }
      svg {
        position: static;
        fill: #fff;
      }
    }
  }
  &__box-discount {
    position: absolute;
    left: 15px;
    bottom: 60px;
    width: 40px;
    height: 40px;
    z-index: 2;
    &.discaunt10 {
      background: url("../img/svg/10.svg") no-repeat center;
    }
    &.discaunt20 {
      background: url("../img/svg/20.svg") no-repeat center;
    }
    &.discaunt30 {
      background: url("../img/svg/30.svg") no-repeat center;
    }
    &.discaunt40 {
      background: url("../img/svg/40.svg") no-repeat center;
    }
    &.discaunt50 {
      background: url("../img/svg/50.svg") no-repeat center;
    }
    &.discaunt60 {
      background: url("../img/svg/60.svg") no-repeat center;
    }
    &.discaunt70 {
      background: url("../img/svg/70.svg") no-repeat center;
    }
    &.discaunt80 {
      background: url("../img/svg/80.svg") no-repeat center;
    }
    &.discaunt90 {
      background: url("../img/svg/90.svg") no-repeat center;
    }
  }
  &__box-text {
    color: #000;
    display: flex;
    flex-direction: column;
  }
  &__box-name {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 9px;
  }
  &__box-price {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
  }
  &__btn-more {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .btn {
      width: 220px;
      padding: 7px 15px 5px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
    }
  }
  &__mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    a {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 13px;
      &.next {
        transform: rotate(180deg);
      }
      svg {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  .catalog__box-info.active {
    opacity: 1;
    z-index: 2;
  }
}

.filter {
  position: fixed;
  width: 470px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 110;
  margin-bottom: 20px;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  padding: 37px 50px 30px 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: auto;
  opacity: 0;
  transform: translateX(100%);
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    .catalog__filter span {
      font-size: 18px;
    }
  }
  &__close {
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    svg {
      fill: #252525;
    }
  }
  &__sort {
    display: none;
    width: 100%;
    padding: 17px 18px 17px 0;
    border-top: 1px solid #c2c2c2;
    .catalog__sort {
      justify-content: space-between;
      margin-right: 0;
    }
    .jq-selectbox__dropdown {
      right: -20px !important;
    }
  }
  &__wrapper {
    //display: flex;
    //flex-direction: column;
    width: 100%;
    border-top: 1px solid #c2c2c2;
    padding-top: 9px;
    margin-bottom: 21px;
  }
  &__item {
    //display: flex;
    //flex-direction: column;
    padding-bottom: 6px;
    margin-bottom: 9px;
    border-bottom: 1px solid #c2c2c2;
    &.active {
      .filter__content-title {
        &:after {
          background: url("../img/svg/remove.svg") no-repeat center;
        }
      }
      .filter__link {
        display: block;
      }
    }
  }
  &__content-title {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #252525;
    font-weight: 700;
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      width: 13px;
      height: 13px;
      background: url("../img/svg/add.svg") no-repeat center;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 30px;
    color: #252525;
    background-color: transparent;
    padding-left: 16px;
    display: none;
    &:hover,
    &.active {
      background-color: #252525;
      color: #fff;
    }
  }
  &__result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 39px;
    span {
      font-size: 16px;
      color: #000;
      font-weight: 500;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
    a {
      width: calc(50% - 7px);
      height: 40px;
      border: 1px solid #2d2d2d;
      display: flex;
      padding: 6px 0 5px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  &__btn-reset {
    background-color: transparent;
    color: #2d2d2d;
    &:hover {
      background-color: #2d2d2d;
      color: #fff;
    }
  }
  &__btn-apply {
    background-color: #2d2d2d;
    color: #fff;
    &:hover {
      background-color: #3f3f3f;
    }
  }
  &__text {
    p {
      font-size: 14px;
      line-height: 30px;
      color: #b5b5b5;
      font-weight: 300;
    }
  }
}

