.checkout {
  &__page {
    padding-left: 52px;
  }
  &__wrapper {

  }
  .header__hint {
    display: none;
  }
  .header__search-wrapper {
    display: none;
  }
  .header__menu-wrapper {
    display: none;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 703px;
    padding-top: 33px;
  }
  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 13px;
    &--second {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #2d2d2d;
    font-weight: 300;
    max-width: 490px;
    margin-bottom: 21px;
    a {
      text-decoration: underline;
      color: #2d2d2d;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }
  &__data-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__data-name {
    display: inline-block;
    font-size: 14px;
    color: #2d2d2d;
    font-weight: 500;
    padding: 11px 0;
  }
  &__data-input {
    flex-shrink: 0;
    width: 420px;
    font-size: 14px;
    color: #2d2d2d;
    border: 1px solid #b7b7b7;
    padding: 11px 15px 10px;
    &--textarea {
      min-height: 120px;
    }
  }
  &__select {
    width: 420px;
  }
  &__aside {
    width: 420px;
    border-left: 1px solid #f1f4f4;
    padding-top: 34px;
    padding-left: 45px;
  }
  &__aside-title {
    font-size: 18px;
    line-height: 24px;
    color: #252525;
    font-weight: 700;
    display: block;
    margin-bottom: 48px;
  }
  &__order-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    margin-bottom: 28px;;
    border-bottom: 1px solid #b7b7b7;
  }
  &__order-img-info {
    display: flex;
    align-items: center;
  }
  &__order-img {
    position: relative;
    width: 80px;
    margin-right: 44px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__order-quantity {
    position: absolute;
    right: -10px;
    top: -10px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  }
  &__order-info {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }
  &__order-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    b {
      font-weight: 500;
      font-size: 16px;
    }
  }
  &__order-price {
    display: flex;
    align-items: center;
    white-space: nowrap;
    span {
      font-size: 18px;
      font-weight: 700;
      color: #000;
      span {
        font-weight: 400;
      }
    }
  }
  &__promo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 28px;
    margin-bottom: 17px;;
    border-bottom: 1px solid #b7b7b7;
    input {
      width: 196px;
      flex-shrink: 0;
      font-size: 14px;
      color: #2d2d2d;
      border: 1px solid #b7b7b7;
      padding: 11px 15px 10px;
    }
    a {
      max-width: 160px;
      width: 100%;
      background-color: #b7b7b7;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 0 10px;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #949494;
      }
    }
  }
  &__order-price-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 17px;;
    border-bottom: 1px solid #b7b7b7;
  }
  &__order-price-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    span {
      font-size: 16px;
      color: #000;
      line-height: 36px;
      font-weight: 700;
      &:nth-child(2) {
        font-size: 18px;
        span {
          font-weight: 400;
        }
      }
    }
  }
  &__order-edit {
    padding-bottom: 22px;
    margin-bottom: 28px;
    border-bottom: 1px solid #b7b7b7;
    a {
      display: inline-block;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #252525;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    margin-bottom: 25px;
    border-bottom: 1px solid #b7b7b7;
  }
  &__mobile-row {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__info {
    span {
      display: inline-block;
      max-width: 355px;
      width: 100%;
      font-size: 14px;
      color: #252525;
      font-weight: 300;
      a {
        color: #252525;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__delpay {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% + 52px);
      left: -52px;
      bottom: -10px;
      background-color: #b7b7b7;
    }
  }
  &__delpay-title {
    font-size: 24px;
    margin-bottom: 31px;
  }
  &__delpay-wrapper {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__delpay-item {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    &:first-child {
      max-width: 295px;
      width: 100%;
    }
  }
  &__delpay-radio {
    margin-right: 11px;
  }
  &__delpay-block {
    position: relative;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
    &--boxbery {
      &:after {
        width: 18px;
        height: 18px;
        top: 1px;
        left: 1px;
        background: url("../img/svg/boxberry.svg") no-repeat center;
      }
    }
    &--mail {
      &:after {
        width: 18px;
        height: 18px;
        background: url("../img/svg/rus-mail.svg") no-repeat center;
      }
    }
    &--card {
      &:after {
        width: 24px;
        height: 16px;
        left: -3px;
        top: 2px;
        background: url("../img/svg/card.svg") no-repeat center;
      }
    }
    &--sber {
      &:after {
        width: 24px;
        height: 24px;
        top: -4px;
        background: url("../img/svg/sber.svg") no-repeat center;
      }
    }
  }
  &__delpay-name {
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
    line-height: 24px;
  }
  &__delpay-text {
    font-size: 14px;
    color: #2d2d2d;
    line-height: 24px;
  }
  &__agreement {
    margin-bottom: 10px;
    .checkbox-input {
      margin-right: 9px;
    }
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 59px;
    .btn {
      max-width: 250px;
      width: 100%;
    }
  }
  &__bottom-block {
    &.mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 30px;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #b7b7b7;
      }
    }
  }
}