.contacts {display: flex;margin: 0 0 0 190px;
  .about {
    &__details {flex-direction: column;max-width: 430px; margin: 0;
      &-title {padding: 0; padding-bottom: 24px;font-size: 14px;width: 100%;}
      &-info {width: 100%;}
      &-desc {padding: 9px 16px;font-size: 14px;
        &:nth-child(odd) {background-color: #f2f5f5;}
        &:nth-child(even) {padding: 12px 16px;}
        span {line-height: 1.1;
          &:first-child {width: 60%;}
          &:last-of-type {padding: 0;}
          span {margin: 0;font-size: 12px;}
        }
      }
    }
  }
  &__col {width: 50%;display: flex;flex-direction: column;}
  &__info {display: flex;flex-direction: column;border-bottom: 1px solid #e2dedf;max-width: 370px;margin: 0 88px 20px;}
  &__title {font-size: 14px;font-weight: 500;margin-bottom: 22px;
    span {font-weight: 400;display: block;}
  }
  &__desc {margin-bottom: 20px; padding-left: 29px;font-size: 14px;
    i {margin-left: -29px;
      svg {width: 19px;height: 19px;}
    }
    a {color: #000;text-decoration: underline;}
  }
  &__row {display: flex;margin: 30px 0 60px;}
  &__map {width: 100%;height: 100%;padding: 0 80px 0 50px;height: 770px;}
  &__store-title {font-size: 24px;font-weight: 500;margin: 105px 0 35px;}
  &__tabs {display: flex;}
  &__tab {font-size: 18px;font-weight: 500;margin-right: 69px;cursor: pointer;padding-bottom: 2px;
    &.current {border-bottom: 2px dashed #000;}
  }
  &__box {display: none;flex-wrap: wrap;justify-content: space-between;
    &.current {display: flex;padding-right: 75px;}
  }
  &__item {display: flex;flex-direction: column;width: calc(50% - 38px);border-bottom: 1px solid #e2dedf;    margin: 30px 4px 0;padding-bottom: 15px;
    &:nth-last-child(-n+2) {border: none;}
  }
}

#map {width: 100%;height: 100%;}


@media (max-width: 1365px) {
  .contacts {margin: 0;
    &__map {padding: 0 40px;}
  }
}
@media (max-width: 991px) {
  .contacts {
    &__info {margin-left: 0;}
    &__item {width: 100%;}
  }
}
@media (max-width: 767px) {
  .contacts {flex-wrap: wrap;border-top: 1px solid #e2dedf; padding-top: 25px;
    &__col {width: 100%;}
    &__info {margin: 0 0 20px;max-width: none;}
    .about {
      &__details {max-width: none;
        &-info {width: calc(100% + 30px); margin: 0 -15px;}
        &-desc {
          span {
            span {display: block;}
          }
        }
      }
    }
    &__item {
      &:nth-last-child(-1n+2) {border-bottom: 1px solid #e2dedf;}
      &:last-child {border: none;}
    }
    &__row {flex-direction: column-reverse; margin-bottom: 0;}
    &__store-title {margin: 3px 15px 30px;}
    &__tabs {justify-content: space-between;}
    &__tab {margin: 0 15px;}
    &__box {
      &.current {padding: 0 15px;}
    }
    &__map {padding: 0; height: 485px;}
  }
}