.self-transport {background: url("../img/pngsprite/self-transport.png") no-repeat center;}
.boxberry {background: url("../img/pngsprite/boxberry.png") no-repeat center;}
.rus {background: url("../img/pngsprite/rus.png") no-repeat center;}
.ems {background: url("../img/pngsprite/logo-ems.png") no-repeat center;background-size: contain;}
.return-icon {background: url("../img/pngsprite/return-icon.png") no-repeat center;}

.delivery {
  &__box {
    .return {
      &__cross {height: 100%;max-height: 78px;}
      &__desc {padding-right: 35px;padding-left: 36px;}
    }
  }
}

@media (max-width: 767px) {
  .delivery {
    &__box {
      &.active {
        .return {
          &__title {padding-left: 0;}
          &__desc {padding-left: 30px;}
        }
      }
    }
  }
}