.discounts {
  .about__row {margin-bottom: 148px; margin-top: 50px;}
  .big-container {max-width: 1366px;}
}

@media (max-width: 767px) {
  .discounts {
    .about__row {margin-bottom: 20px; margin-top: 20px;}
  }
}