body {
  font-family: $roboto;
  line-height: normal;
}
input, textarea {
  font-family: $roboto;
  width: 100%;
  padding: 9px 15px 8px;
  border: none;
  outline: none;
  color: #2d2d2d;
}
.page-wrapper {
  position: relative;

}
.big-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
i {
  position: absolute;
  display: block;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
a {
  text-decoration: none;
}
::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c4c4c4;
}

::-ms-input-placeholder {
  color: #c4c4c4;
}
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.btn {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #2d2d2d;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 10px 10px;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background-color: #3f3f3f;
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  a {
    display: inline-block;
    color: #000;
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 7px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.jq-selectbox__select {
  height: 40px;
  padding: 13px 45px 12px 15px;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  background: #f2f5f5;
  box-shadow: none;
  font: 14px/1 Roboto, sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  text-shadow: none;
}
.jq-selectbox__select:hover {
  background: #f2f5f5;
}
.jq-selectbox__trigger {
  border-left: none;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 10px;
  height: 5px;
  border: none!important;
  background: url("../img/svg/select.svg") no-repeat center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.jq-selectbox__select:active {
  background: #f2f5f5;
  box-shadow: none;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #b7b7b7;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
 transform: rotate(-180deg);
}
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #b7b7b7;
  border-radius: 0;
  background: #FFF;
  box-shadow: none;
  font: 14px/1 Roboto, sans-serif;
}
.jq-selectbox li {
  min-height: 18px;
  padding: 13px 45px 12px 15px;
  font-weight: 300;
  color: #2d2d2d;
}
.jq-selectbox li:hover {
  background-color: #A3ABB1;
  color: #FFF;
}
.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}
textarea {
  resize: none;
}
.checkbox {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
  }
  .checkbox-input {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    flex-shrink: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: 6px;
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      width: 14px;
      height: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url("../img/svg/checkbox.svg") no-repeat center;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
  }
  input[type="checkbox"]:checked ~ .checkbox-input {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    &:after {
      opacity: 1;
    }
  }
  .checkbox-text {
    font-size: 14px;
    line-height: 18px;
    color: #252525;
    font-weight: 300;
    a {
      color: #252525;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.radio {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
  }
  .radio-input {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    flex-shrink: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      background-color: #fff;
    }
  }
  input[type="radio"]:checked ~ .radio-input {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    &:after {
      opacity: 1;
    }
  }
}

.breadcrumbs {
  .submenu {
    position: relative;
    display: inline-block;
    color: #252525;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    z-index: 5;
    &:before {
      position: absolute;
      right: 14px;
      top: 5px;
      content: '';
      width: 11px;
      height: 3px;
      background: url("../img/svg/dots.svg") no-repeat center;
    }
    &:after {
      margin-left: 20px;
    }
    &:hover {
      color: #b5b5b5;
      text-decoration: none;
      .submenu-content {
        display: block;
      }
    }
  }
  .submenu-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px 13px;
    background-color: #fff;
    border: 1px solid #f2f5f5;
    width: 100%;
    min-width: 180px;
    object {
      display: flex;
      flex-direction: column;
    }
    a {
      font-size: 11px;
      line-height: 18px;
      color: #b5b5b5;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.jq-selectbox select, .jq-select-multiple select {
  display: none;
}

@media (max-width: 1024px) {
  html {
    &.overflow {height: 100vh; overflow: hidden;
      body {height: 100vh; overflow: hidden;}
    }
  }
}

h1.page__title {
  font-weight: 400;
}
.fancybox-toolbar {
  display: none;
}

.page-body {
  padding-bottom: 40px;
}
