.loyalty {
  &__box {max-width: 720px;display: flex;flex-direction: column;margin: 0 auto;margin-bottom: 30px;}
  &__title {font-size: 24px;font-weight: 500;margin-bottom: 20px;padding: 0 23px;}
  &__table {display: flex;flex-direction: column;margin: 20px 0 40px;
    &-row {display: flex;padding: 0 75px 0 85px;
      &:nth-child(odd) {background-color: #f2f5f5;}
      &:first-child {background-color: #2d2d2d; color: #fff;
        .loyalty__table {
          &-col {font-weight: 500;}
        }
      }
    }
    &-col {width: 20%;text-align: center;font-size: 14px;font-weight: 300;padding: 10px;
      &:first-child {text-align: left;}
    }
  }
  &__desc {font-size: 14px;font-weight: 300;padding: 0 23px;line-height: 1.25;margin-bottom: 23px;
    &--fraction {display: flex;align-items: center;}
    &--back {padding: 12px 23px;background-color: #f2f5f5;}
    &-fraction {display: flex;flex-direction: column;align-items: center;margin: 0 8px;
      span:first-child {border-bottom: 1px solid #000;padding: 0 5px;}
    }
    span {font-weight: 500;}
  }
  .about {
    &__row {margin-bottom: 50px;}
  }
}

@media (max-width: 767px) {
  .loyalty {
    &__table {
      &-row {padding: 0 15px;}
    }
  }
}

@media (max-width: 600px) {
  .loyalty {
    &__title {padding: 0;}
    &__table {margin: 20px -15px 40px; overflow-x: auto;
      &-row {min-width: 540px;}
    }
    &__desc {padding: 0;
      &--back {margin: 0 -15px 23px; padding: 23px 15px;}
      &--fraction {flex-direction: column;}
      &-fraction {margin: 8px;}
    }
  }
}