.main {
  &__top-slider {
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    margin-bottom: 73px;
    margin-top: 24px;
    &.preloader {
      max-height: 550px;
      min-height: 550px;
      overflow: hidden;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        opacity: 1;
        z-index: 1;
        background-image: url("../img/preloader.gif");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__slider {
    flex-shrink: 0;
    width: 770px;
    height: 550px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slider-info {
    width: calc(100% - 863px);
    padding-top: 118px;
    position: relative;
    .slick-slider {
      position: static;
    }
    .slick-dots {
      display: flex!important;
      align-items: center;
      line-height: 0;
      font-size: 0;
      color: transparent;
      border: none;
      outline: none;
      left: 11px;
      bottom: 156px;
      li, button {
        line-height: 1;
        font-size: 0;
        color: transparent;
        border: none;
        outline: none;
      }
      li {
        margin: 0;
        background-color: #bcbec0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border: 2px solid #fff;
        box-sizing: content-box;
        &:hover {
          background-color: #2d2d2d;
        }
        &.slick-active {
          background-color: #2d2d2d;
          border-color: #2d2d2d;
        }
        &:not(:last-child) {
          margin-right: 3px;
        }
      }
      button {
        display: none;
      }
    }
  }
  &__slider-text-item {
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .btn {
      padding: 12px 5px 10px;
      max-width: 220px;
      width: 100%;
    }
  }
  &__slider-title {
    font-size: 48px;
    color: #2d2d2d;
    font-weight: 400;
    letter-spacing: -.2px;
    margin-bottom: 11px;
  }
  &__slider-subtitle {
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    color: #262626;
    max-width: 300px;
    margin-bottom: 21px;
  }
  &__collection-wrapper {
    margin-bottom: 64px;
  }
  &__collection {
    display: flex;
    justify-content: space-between;
    padding-right: 160px;
    padding-left: 98px;
    &.preloader {
      max-height: 630px;
      min-height: 630px;
      overflow: hidden;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        opacity: 1;
        z-index: 1;
        background-image: url("../img/preloader.gif");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__collection-info {
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 183px;
  }
  &__collection-text {
    position: relative;
    &:before {
      position: absolute;
      content: '01';
      font-weight: 100;
      font-size: 180px;
      color: #f1f4f4;
      left: 63px;
      top: -86px;
      z-index: -1;
    }
  }
  &__collection-item {
    .btn {
      padding: 12px 5px 10px;
      max-width: 220px;
      width: 100%;
    }
  }
  &__collection-title {
    position: relative;
    font-size: 36px;
    color: #2d2d2d;
    font-weight: 400;
    letter-spacing: -.1px;
    margin-bottom: 6px;
  }
  &__collection-subtitle {
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    color: #262626;
    margin-bottom: 40px;
  }
  &__collection-slider-wrapper {
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
  }
  &__collection-slider {
    width: 485px;
    height: 630px;
    position: relative;
    flex-shrink: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    .slider-item {
      filter: grayscale(100);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &:nth-child(1) {
        filter: grayscale(0);
        position: absolute;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        -webkit-transition: all 3s ease;
        transition: all 3s ease;
      }

      &:nth-child(2) {
        position: absolute;
        width: 404px;
        height: 525px;
        right: -76px;
        z-index: 2;
        box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
      }

      &:nth-child(3) {
        position: absolute;
        width: 365px;
        height: 475px;
        right: -109px;
        z-index: 1;
        box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
      }
      &.active {
        .main__collection-bag {
          display: flex;
        }
        &:before {
          display: block;
        }
      }
      &:before {
        display: none;
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #000;
        left: -79px;
        bottom: 58px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      visibility: visible;
    }
  }
  &__collection-bag {
    position: absolute;
    left: -236px;
    bottom: 50px;
    display: none;
    align-items: center;
    font-size: 14px;

    span {
      display: inline-block;
      color: #000;
      font-weight: 700;
      margin-right: 12px;
      min-width: 50px;
      text-align: right;
    }
    a {
      position: relative;
      display: inline-block;
      color: #2d2d2d;
      text-transform: uppercase;
      &:before {
        -webkit-transition: opacity 0.2s ease;
        transition: opacity  0.2s ease;
        opacity: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #2d2d2d;
        left: 0;
        bottom: -1px;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__actual-wrapper {
    margin-bottom: 96px;
  }
  &__actual {
    padding: 0 27px 0 53px;
  }
  &__actual-slider-wrapper {
    position: relative;
    margin-bottom: 27px;
    &.preloader {
      max-height: 407px;
      min-height: 407px;
      overflow: hidden;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        opacity: 1;
        z-index: 1;
        background-image: url("../img/preloader.gif");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__actual-title {
    position: relative;
    font-size: 36px;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin-bottom: 69px;
    &:before {
      position: absolute;
      content: '02';
      font-weight: 100;
      font-size: 180px;
      color: #f1f4f4;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: -1;
    }
  }
  &__actual-slider {
    &.second {
      display: none;
      margin-bottom: 40px!important;
      .slick-dots {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        display: flex !important;
        align-items: center;
        line-height: 0;
        font-size: 0;
        color: transparent;
        border: none;
        outline: none;
        li {
          width: 5px;
          height: 5px;
          border: none;
          margin: 0;
          border-radius: 50%;
          transition: all 0.4s ease;
          box-sizing: content-box;
          line-height: 1;
          font-size: 0;
          background-color: #bbbdbe;
        }
        li:not(:last-child) {
          margin-right: 3px;
        }
        li.slick-active {
          background-color: #000;
          border-color: #000;
        }
        button {
          display: none;
        }
      }
    }
  }
  &__actual-item {
    display: flex;
    flex-direction: column;
    &.mobile {
      display: none;
      .main__actual-img {
        background-color: transparent;
      }
    }
    &:hover {
      img {
        filter: saturate(120%)
      }
      .main__actual-text:before {
        opacity: 1;
      }
    }
  }
  &__actual-img {
    width: 270px;
    height: 350px;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__actual-text {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-bottom: 9px;
    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #2d2d2d;
      left: 0;
      bottom: -1px;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity  0.2s ease;
    }
  }
  &__actual-price {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #000;
  }
  &__actual-arrows {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 2px solid #b7b7b7;
    border-left: 2px solid #b7b7b7;
    top: 151px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &[data-slider="slickPrev"] {
      left: -47px;
    }
    &[data-slider="slickNext"] {
      right: -22px;
      transform: rotate(135deg);
    }
    &:hover {
      border-color: #919191;
    }
  }
  &__actual-btn {
    display: flex;
    justify-content: center;
    padding-right: 31px;
    .btn {
      width: 100%;
      max-width: 220px;
      padding: 12px 10px 10px;
    }
  }
  &__news-wrapper {
    margin-bottom: 112px;
  }
  &__news {
    display: flex;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 32px;
    &.preloader {
      max-height: 485px;
      min-height: 485px;
      overflow: hidden;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        opacity: 1;
        z-index: 1;
        background-image: url("../img/preloader.gif");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__news-slider-wrapper {
    flex-shrink: 0;
  }
  &__news-slider {
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    width: 630px;
    height: 485px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    flex-shrink: 0;
  }
  &__news-slider-item {
    filter: grayscale(100);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:nth-child(1) {
      filter: grayscale(0) brightness(1);
      position: absolute;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      transform: translateY(0);
      -webkit-transition: all 3s ease;
      transition: all 3s ease;
    }

    &:nth-child(2) {
      position: absolute;
      width: 544px;
      height: 410px;
      left: -76px;
      z-index: 2;
      box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
    }

    &:nth-child(3) {
      position: absolute;
      width: 468px;
      height: 360px;
      left: -109px;
      z-index: 1;
      box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
  &__news-slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__news-slider-info {
    display: none;
    position: absolute;
    top: 353px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0 15px 5px 41px;
  }
  &__news-slider-date {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
  }
  &__news-slider-title {
    display: block;
    font-size: 18px;
    margin-bottom: 9px;
  }
  &__news-slider-text {
    display: block;
    font-size: 14px;
    font-weight: 300;
  }
  &__news-info {
    max-width: 365px;
    width: 100%;
    padding-top: 66px;
  }
  &__news-subs {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #58595a;
    margin-bottom: 132px;
    label.error {
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 100%;
      font-size: 12px;
      color: #ff0000;
    }
  }
  &__news-subs-input {
    font-size: 14px;
    padding-left: 0;
    padding-right: 45px;

  }
  &__news-subs-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: #f1f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      flex-shrink: 0;
      width: 15px;
      height: 11px;
      -webkit-transition: transform 0.2s ease;
      transition: transform 0.2s ease;
      svg {
        fill: #000;
      }
    }
    &:hover {
      i {
        transform: translateX(2px);
      }
    }
  }
  &__news-title {
    position: relative;
    font-size: 36px;
    color: #2d2d2d;
    margin-bottom: 14px;
    span {
      font-weight: 400;
      letter-spacing: -.3px;
      display: inline-block;
    }
    i {
      position: relative;
      display: inline-block;
      width: 152px;
      height: 21px;
      margin-left: 13px;
      svg {

      }
    }
    &:before {
      position: absolute;
      content: '03';
      font-weight: 100;
      font-size: 180px;
      color: #f1f4f4;
      left: 44%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: -1;
    }
  }
  &__news-subtitle {
    display: block;
    font-size: 18px;
    color: #2d2d2d;
    margin-bottom: 48px;
  }
  &__news-btn {
    &.mobile {
      display: none;
    }
    .btn {
      width: 220px;
      padding: 12px 10px 10px;
    }
  }
  &__insta-wrapper {
    margin-bottom: 68px;
  }
  &__insta {
    display: flex;
    justify-content: space-between;
    padding-left: 117px;
    padding-right: 51px;
  }
  &__insta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 33px;
  }
  &__insta-title {
    display: block;
    font-size: 36px;
    color: #000;
    font-weight: 400;
    line-height: 1;
  }
  &__insta-link {
    display: inline-block;
    font-size: 18px;
    color: #979797;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:hover {
      color: #6b6b6b;
    }
  }
  &__insta-subtitle {
    display: block;
    font-size: 18px;
    color: #2d2d2d;
  }
  &__insta-pics {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    flex-shrink: 0;
  }
  &__insta-img {
    position: relative;
    width: 33.33%;
    &.mobile {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      img {
        filter: contrast(120%)
      }
    }
  }
  &__insta-likes {
    position: absolute;
    width: 59px;
    height: 19px;
    background-color: rgba(45,45,45,.7);
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 28px;
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 3px;
      width: 14px;
      height: 13px;
      background: url("../img/svg/like.svg") no-repeat center;
    }
  }
  &__collection-mobile {
    display: none;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 65%;
      height: 95%;
      left: 0;
      bottom: 65px;
      background-color: #f1f4f4;
      z-index: -1;
    }
  }
  &__collection-mobile-item {
    position: relative;
  }
  &__news-mob-slider {
    display: none;
    width: 320px;
    .slick-list{padding:0 30px 0 0;}
    .slick-dots {
      bottom: -20px;
      left: 39px;
      width: auto;
      display: flex !important;
      align-items: center;
      line-height: 0;
      font-size: 0;
      color: transparent;
      border: none;
      outline: none;
      li {
        width: 5px;
        height: 5px;
        border: none;
        margin: 0;
        border-radius: 50%;
        transition: all 0.4s ease;
        box-sizing: content-box;
        line-height: 1;
        font-size: 0;
        background-color: #bbbdbe;
      }
      li:not(:last-child) {
        margin-right: 3px;
      }
      li.slick-active {
        background-color: #000;
        border-color: #000;
      }
      button {
        display: none;
      }
    }
  }
  &__news-mob-slider-item {
    position: relative;
    width: 260px;
    margin-right: 30px;
  }
  &__news-mob-slider-img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__news-mob-slider-info {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 255px;
    color: #fff;
    padding: 0 10px 10px 39px;
  }
  &__news-mob-slider-date {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 3px;
  }
  &__news-mob-slider-title {
    display: block;
    font-size: 18px;
    font-weight: 400;
  }
  &__news-mob-slider-text {
    font-size: 14px;
    color: #000;
    padding-left: 39px;
    max-height: 51px;
  }
  &__insta-hiddentext {
    display: none;
    font-size: 14px;
    color: #2d2d2d;
    text-align: center;
    padding-top: 40px;
  }
}
.catalog__box-item.mobile {
  display: none;
}

.slider-1 {
  width: 585px;
}
.slider-2 {
  width: 100%;
}

.dp-wrap {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  height: 100%;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div { transform-style: preserve-3d; }

.dp_item {
  display: block;
  position: absolute;
  color: #FFF;
  border-radius: 4px;
  transition: transform 1.2s;
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
}


#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

#dp-slider .dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(17%) scale(0.9);
}

#dp-slider .dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(29%) scale(0.8);
}

#dp-slider2 .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

#dp-slider2 .dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(-16%) scale(0.9);
}

#dp-slider2 .dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(-27%) scale(0.8);
}

#dp-slider .dp_item { width: 485px; }
#dp-slider2 .dp_item { width: 630px;
  height: 100%;}

.dp-content,  .dp-img { text-align: left; }

.dp_item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.dp-content {
  padding-left: 100px;
  padding-right: 0;
  display: inline-block;
  width: 100%;
}

.dp-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dp-img {
  position: relative;
}

#dp-slider,  #dp-slider .dp-img img { height: 630px; }
#dp-slider2,  #dp-slider2 .dp-img img { height: 485px; }

.dp_item:hover:not(:first-child) { cursor: pointer; }

.dp_item[data-position="1"] {
  overflow: visible;
  .main__collection-bag {
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #000;
    left: -79px;
    bottom: 58px;
    z-index: 1;
  }
  .main__news-slider-info {
    display: block;
  }
}

#dp-slider2 .dp_item:before {
  display: none;
}
