.news {max-width: 1128px; margin: 0 auto; padding: 20px 0;
  &__row {display: flex;height: 485px; margin-bottom: 42px; margin-right: -15px; margin-left: 15px;
    &:nth-child(even) {flex-direction: row-reverse; margin-left: -15px; margin-right: 15px;
      .news {
        &__col {justify-content: flex-end;}
      }
    }
  }
  &__col {display: flex; align-items: flex-end;
    &-8 {flex-basis: 60%;}
    &-4 {flex-basis: 40%;}
  }
  &__item {height: 100%; color: #fff; margin: 0 24px; display: flex; padding: 50px 15px 50px 40px;background-repeat: no-repeat; background-position: center center; background-size: cover;
    &--small {width: 300px;
      &-height {height: 300px}
    }
    &:hover {filter: contrast(80%);}
  }
  &__info {display: flex;flex-direction: column; justify-content: flex-end;width: 100%;}
  &__date {font-size: 12px; font-weight: 300;}
  &__title {font-size: 18px; margin: 5px 0 10px;}
  &__desc {font-size: 14px;font-weight: 300;}
}

@media (max-width: 1365px) {
  .news {
    &__row {margin-right: 15px; margin-left: -15px;
      &:nth-child(even) {margin-left: 15px; margin-right: -15px;
      }
    }
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .news {padding: 0 0 15px; margin-top: -12px;
    &__row {flex-direction: column; margin: 0;height: auto;
      &:nth-child(even) {flex-direction: column; margin: 0;
      }
    }
    &__item {margin: 12.5px 0; min-height: 485px; height: 485px;width: 100%;padding: 50px 15px 34px 42px;}
    &__title {max-width: 150px;}
    &__desc {display: none;}
  }
}