.payment {
  .return__title {
    padding-right: 45px;
  }
  .ico-nal {
    width: 42px;
    height: 39px;
  }
  .ico-cards {
    width: 40px;
    height: 35px;
  }
  .ico-online {
    width: 26px;
    height: 36px;
    left: -29px;
  }
  .ico-moscow {
    width: 34px;
    height: 57px;
    top: -23px;
  }
  .ico-other-town{
    width: 40px;
    height: 40px;
  }
  .return__info span a {
    color: #000;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}