.question {
  &__box {position: relative; flex-direction: column;padding: 31px 0;
    &.active {padding: 10px 0;
      .return {
        &__desc {padding-right: 35px;}
        &__title {padding: 21px 50px 0 0;}
      }
    }
    .return {
      &__cross {position: absolute; right: 0;}
      &__title {max-width: none;padding: 0 50px 0 0;}
      &__info {margin-left: 0;}
    }
  }
}

@media (max-width: 767px) {
  .question {
    &__box {padding: 18px 0; max-height: none;
      &.active {padding-bottom: 0;
        .return {
          &__cross {top: -1px;}
          &__title {padding: 8px 50px 0 0;}
        }
      }
      .return {
        &__cross {top: -1px;}
      }
    }
  }
}
