.small-container {max-width: 704px; margin: 0 auto; padding: 0 15px;}

.page__title {font-size: 24px;margin-bottom: 34px;  text-align: center;
}
.page__subtitle {font-size: 16px;font-weight: 500;margin-bottom: 34px;text-align: center;}

.return {max-width: 963px; margin: 0 auto;
  &__box {display: flex; border-bottom: 1px solid #e2dedf; padding: 7px 0;justify-content: space-between; overflow: hidden;
    &:first-child {border-top: 1px solid #e2dedf;}
    &.active {max-height: none; padding: 20px 0;
      .return {
        &__desc {display: block;}
        &__cross:after {display: none;}
        &__title {align-items: flex-start;}
      }
    }
    &.show {
      .return {
        &__title {align-items: flex-start;}
        &__cross:after {display: none;}
      }
    }
  }
  &__desc {font-size: 14px; max-width: 740px; display: none;}
  &__title { font-weight: 500; font-size: 14px; max-width: 231px; min-width: 224px;display: flex;align-items: flex-start; padding: 17px 0;}
  &__info {margin: 17px 15px 19px 20px;position: relative;
    &--bold {font-weight: 500; padding: 0 15px 0 20px; margin: 17px 0;}
    &--back {background-color: #f2f5f5; padding: 17px 15px 17px 20px; margin: 17px 0}
    &-box {padding-bottom: 1px;}
  }
  &__number {position: absolute; left: -20px;}
  &__cross {position: absolute; width: 100%;height: 82px;display: block;top: 0;
    &:before {position: absolute; content: ''; width: 21px;height: 1px;background-color: #000; display: block; top: 50%;right: 0;}
    &:after {position: absolute; content: ''; width: 21px;height: 1px;background-color: #000; transform: rotate(90deg); top: 50%; display: block;right: 0;}
  }
  &__link {color: #000;text-decoration: underline;}
  &__icon {width: 42px;height: 42px;top: -10px; left: -38px;}
}

.collapse {position: relative;}

@media (max-width: 1365px) {
  .small-container {}
}

@media (max-width: 991px) {
  .small-container {max-width: 720px;}

  .return {margin-left: 0;}
}

@media (max-width: 767px) {
  .small-container {max-width: 576px;}

  .page__title {font-size: 14px; margin: 20px 0; text-align: center; font-weight: 500;
    &--border-bottom {padding-bottom: 20px; border-bottom: 1px solid #e2dedf;}
  }
  .page__subtitle {font-size: 14px; margin-bottom: 20px;}

  .return {margin-left: 0;
    &__cross {position: absolute; right: 0; top: -1px;height: 100%;max-height: 78px;}
    &__title {max-width: none; padding: 17px 50px 17px 0;font-size: 14px;}
    &__info {margin: 17px 15px 19px 25px;
      &--bold {padding: 0 15px 0 25px;margin: 10px 0;}
      &--back {padding: 17px 15px 17px 25px;margin: 17px 0;}
    }
    &__number {left: -23px;}
    &__box {position: relative; flex-direction: column;padding: 5px 0; justify-content: center; min-height: 70px;
      &.active {padding: 5px 0;
        .return {
          &__cross {top: -1px;}
          &__title {padding: 17px 50px 17px 25px;}
        }
      }
    }
    &__icon {left: -25px;}
  }
}