@media screen and (max-width: 1365px) {
  .header__hint-text {
    font-size: 14px;
    padding-right: 41px;
    display: block;
  }
  .header__line {
    height: 70px;
  }
  .menu__item{
    padding: 17px 22px;
  }
  .menu__item-link {
    font-size: 12px;
    text-align: center;
  }
  .menu__submenu-block a:not(:last-child) {
    margin-bottom: 0;
  }
  .menu__submenu {
    padding: 15px;
    height: auto;
  }
  .menu__submenu-block a {
    padding: 6px 5px;
  }
  .menu__submenu-content {
    column-count: 3;
  }
  .menu__submenu-block--others {
    padding-top: 10px;
  }
  .menu__submenu-block--others a {
    padding: 4px 5px !important;
    font-size: 12px;
  }
  .menu__submenu-block {
    width: 190px;
  }
  .menu__submenu-block--others:after {
    width: calc(100% - 6px);
    left: 6px;
    top: 2px;
  }
  .header__line-wrapper {
    position: relative;
  }
  .header__hint i {
    top: 50%;
    transform: translateY(-50%);
  }
  .main__top-slider {
    &.preloader {
      max-height: 350px;
      min-height: 350px;
    }
  }
  .main__slider {
    width: 490px;
    height: auto;
  }
  .main__slider-info {
    width: calc(100% - 570px);
    padding-top: 40px;
  }
  .main__slider-info .slick-dots {
    left: 0;
    bottom: -40px;
  }
  .main__slider-info .slick-slider {
    position: relative;
  }
  .main__collection {
    padding-right: 0;
    padding-left: 0;
    justify-content: flex-start;
  }
  .main__collection-info {
    width: 300px;
    padding-top: 0;
    margin-right: 30px;
  }
  .main__actual-img {
    width: 180px;
    height: 234px;
    margin-bottom: 16px;
  }
  .main__actual-arrows {
    top: 121px;
  }
  .main__news {
    padding-right: 0;
  }
  .main__news-slider-info {
    top: auto;
    bottom: 0;
    padding: 0 15px 20px 15px;
  }
  .main__news {
    padding-left: 75px;
    &.preloader {
      max-height: 346px;
      min-height: 346px;
    }
  }
  .main__actual-wrapper {
    margin-bottom: 60px;
  }
  .main__actual-slider-wrapper {
    &.preloader {
      max-height: 291px;
      min-height: 291px;
    }
  }
  .main__news-info {
    max-width: 355px;
    padding-top: 0;
  }
  .main__insta {
    padding-left: 0;
    padding-right: 0;
  }
  .main__insta-pics {
    width: 600px;
  }
  .big-container {
    max-width: 991px;
  }
  .checkout__page {
    padding-left: 0;
  }
  .checkout__aside {
    padding-top: 30px;
    padding-left: 30px;
  }
  .checkout__content {
    width: calc(100% - 450px);
    padding-top: 30px;
  }
  .checkout__data-input {
    width: calc(100% - 140px);
  }
  .checkout__select {
    width: calc(100% - 140px);
  }
  .checkout__data-name {
    padding-right: 10px;
  }
  .checkout__delpay-item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .checkout__delpay-wrapper {
    flex-direction: column;
  }
  .checkout__delpay-item:first-child {
    max-width: 100%;
  }
  .checkout__delpay:after {
    bottom: -24px;
  }
  .catalog__box-item {
    width: 250px;
  }
  .catalog__box-content {
    height: 350px;
  }
  .catalog__box:after {
    width: 250px;
  }
  .catalog__box-sizes-item a {
    width: 32px;
    height: 32px;
  }
  .catalog__box-info {
    width: 220px;
    margin-top: 60px;
  }
  .catalog__box-tocart a,
  .catalog__box-oneclick a {
    width: 190px;
  }
  .catalog__box-sizes {
    margin-bottom: 15px;
  }
  .catalog__box-tocart {
    margin-bottom: 15px;
  }
  .catalog__box-tocart a i {
    width: 18px;
    height: 19px;
    left: 40px;
    top: 9px;
  }
  .catalog__box-content {
    align-items: flex-start;
  }
  .filter__line {
    margin-bottom: 25px;
  }
  .card .catalog__box-content {
    width: 180px;
    height: 234px;
  }
  .card .catalog__box-info {
    display: none;
  }
  .card .catalog__box-option {
    display: none;
  }
  .card .catalog__box-discount {
    display: none;
  }
  .card__info.options {
    padding-top: 80px;
  }
  .catalog__box-option i {
    width: 30px;
    height: 30px;
  }
  .catalog__box-content .js-catalog-cart {
    bottom: 15px;
    right: 18px;
    width: 22px;
    height: 22px;
  }
  .catalog__box-discount {
    left: 15px;
    bottom: 48px;
    width: 30px;
    height: 30px;
  }
  #dp-slider2,  #dp-slider2 .dp-img img { height: 346px; }
  #dp-slider2 .dp_item {
    width: 450px;
    height: 100%;
  }
}
@media screen and (max-width: 991px) {
  .menu__item {
    padding: 15px;
  }
  .header__line-phone a {
    font-size: 12px;
  }
  .header__line {
    height: 60px;
  }
  .header__line-logo a {
    width: 125px;
    height: 18px;
  }
  .header__line-logo {
    padding-right: 0;
  }
  .menu-mobile.active {
    transform: translateX(0);
  }
  .header__menu {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .menu__submenu-block.active a:not(:last-child) {
    margin-bottom: 1px;
  }
  .menu__submenu-block a {
    letter-spacing: 0;
  }
  .main__top-slider {
    &.preloader {
      max-height: 300px;
      min-height: 300px;
    }
  }
  .main__slider-info {
    width: calc(100% - 450px);
    padding-top: 20px;
  }
  .main__slider-title {
    font-size: 36px;
    letter-spacing: 0;
  }
  .main__slider-subtitle {
    font-size: 20px;
    line-height: 1.2;
    max-width: 100%;
  }
  .main__slider {
    width: 420px;
    height: auto;
  }
  .main__collection {
    display: none;
  }
  .main__collection-mobile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .main__collection-mobile-slider,
  .main__collection-mobile-slider-title {
    width: 485px;
  }
  .main__collection-mobile-slider-title {
    position: relative;
    padding: 5px 5px 5px 10px;
    &:before {
      position: absolute;
      content: '01';
      font-weight: 100;
      font-size: 36px;
      color: #a0a0a0;
      left: -35px;
      top: 2px;
      z-index: 1;
    }
  }
  .main__top-slider {
    margin-bottom: 110px;
  }
  .main__collection-subtitle {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 65px;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    color: #fff;
    padding: 18px 25px;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    line-height: 1;
  }
  .main__collection-title {
    font-size: 28px;
    color: #2d2d2d;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .main__collection-mobile-slider {
    .slick-dots {
      bottom: 16px;
      left: 25px;
      width: auto;
      display: flex !important;
      align-items: center;
      line-height: 0;
      font-size: 0;
      color: transparent;
      border: none;
      outline: none;
      li {
        width: 5px;
        height: 5px;
        border: none;
        margin: 0;
        border-radius: 50%;
        transition: all 0.4s ease;
        box-sizing: content-box;
        line-height: 1;
        font-size: 0;
        background-color: #bbbdbe;
      }
      li:not(:last-child) {
        margin-right: 3px;
      }
      li.slick-active {
        background-color: #fff;
        border-color: #2d2d2d;
      }
      button {
        display: none;
      }
    }
  }
  .main__news-slider-wrapper {
    display: none;
  }
  .main__news-title {
    font-size: 28px;
  }
  .main__news-title i {
    width: 143px;
    height: 18px;
    margin-left: 6px;
  }
  .main__news-title:before {
    font-size: 120px;
    left: 50%;
  }
  .main__news-subs {
    margin-bottom: 75px;
  }
  .main__news-mob-slider {
    display: block;
  }
  .main__news {
    flex-direction: row-reverse;
    padding-left: 0;
    &.preloader {
      max-height: 413px;
      min-height: 413px;
    }
  }
  .main__news-info {
    max-width: 300px;
  }
  .main__insta-pics {
    width: 450px;
  }
  .main__news-wrapper {
    margin-bottom: 60px;
  }
  .main__insta-title {
    font-size: 28px;
  }
  .main__insta-link {
    font-size: 16px;
  }
  .main__insta-subtitle {
    font-size: 16px;
  }
  .big-container {
    max-width: 100%;
  }
  .checkout__aside {
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
  }
  .checkout__order-img {
    margin-right: 25px;
  }
  .checkout__order {
    flex-wrap: wrap;
  }
  .checkout__order-info {
    padding-right: 0;
  }
  .checkout__order-img-info {
    width: 100%;
    margin-bottom: 20px;
  }
  .checkout__order-price {
    width: 100%;
    justify-content: center;
  }
  .checkout__order {
    padding-bottom: 20px;
  }
  .checkout__promo a {
    max-width: none;
    width: auto;
    padding: 12px 13px 11px;
    font-size: 14px;
  }
  .checkout__promo input {
    width: 160px;
  }
  .checkout__mobile .checkbox {
    align-items: flex-start;
  }
  .checkout__mobile .checkbox .checkbox-input {
    margin-right: 10px;
  }
  .checkout__content {
    width: calc(100% - 320px);
    padding-top: 20px;
  }
  .checkout__data-row {
    flex-direction: column;
  }
  .checkout__subtitle {
    margin-bottom: 5px;
  }
  .checkout__data-input {
    width: 100%;
  }
  .checkout__data-row:not(:last-child) {
    margin-bottom: 10px;
  }
  .checkout__data {
    margin-bottom: 20px;
  }
  .checkout__select {
    width: 100%;
  }
  .checkout__bottom-block {
    display: none;
  }
  .checkout__bottom-block.mobile {
    display: flex;
  }
  .checkout__delpay:after {
    display: none;
  }
  .checkout__btn {
    margin-bottom: 30px;
    justify-content: center;
  }
  .checkout__agreement {
    margin-bottom: 20px;
  }
  .checkout__delpay-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .catalog__breadcrums {
    display: none;
  }
  .catalog__box-content {
    .catalog__box-info {
      display: none!important;
    }
  }
  .catalog__mobile-nav {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    span {
      font-size: 14px;
      font-weight: 700;
    }
  }
  .catalog__title {
    display: none;
  }
  .catalog__line {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .catalog__content {
    padding: 0;
  }
  .catalog__box-item {
    width: 220px;
  }
  .catalog__box-content {
    height: 308px;
  }
  .catalog__box-item {
    margin-bottom: 30px;
  }
  .catalog__box:after {
    width: 220px;
  }
  .card__info.options {
    padding-top: 0;
    justify-content: center;
  }
  .catalog__box-option i {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
  .catalog__box-option {
    left: 10px;
  }
  .catalog__box-discount {
    left: 10px;
    bottom: 44px;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
  .catalog__box-content .js-catalog-cart {
    bottom: 13px;
    right: 10px;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
  .slider-2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__line-phone {
    display: none;
  }
  .header__search-wrapper {
    display: none;
  }
  .header__line .header__ico-lang,
  .header__line .header__ico-box,
  .header__line .header__ico-user {
    display: none;
  }
  .header__hint i {
    right: 10px;
  }
  .header__hint-text {
    padding-right: 15px;
  }
  .footer__menu-wrapper {
    display: none;
  }
  .footer__wrapper {
    padding: 33px 0 15px;
  }
  .footer__social {
    margin-bottom: 30px;
  }
  .main__top-slider {
    padding-right: 0;
    flex-wrap: wrap;
    margin-bottom: 120px;
    &.preloader {
      max-height: 558px;
      min-height: 558px;
    }
  }
  .main__slider-info {
    width: 100%;
    padding: 30px 50px 0;
  }
  .main__slider {
    width: 100%;
  }
  .main__collection-mobile-slider,
  .main__collection-mobile-slider-title {
    width: 440px;
  }
  .main__collection-mobile-slider-title {
    padding: 5px 5px 15px 15px;
    h2 span {
      display: inline-block;
      max-width: 200px;
    }
    &:before {
      font-size: 48px;
      left: -45px;
      top: -7px;
    }
  }
  .main__collection-subtitle {
    font-size: 16px;
  }
  .main__collection-title {
    font-size: 18px;
    line-height: 1;
  }
  .main__collection-mobile {
    align-items: flex-end;
  }
  .main__collection-mobile:after {
    width: 75%;
  }
  .main__collection-mobile-slider-title h2 span {
    min-height: 35px;
  }
  .main__actual-title {
    font-size: 32px;
  }
  .main__actual-title:before {
    font-size: 140px;
  }
  .main__actual-btn {
    padding-right: 0;
  }
  .main__collection-wrapper {
    margin-bottom: 70px;
  }
  .main__news {
    flex-direction: column;
    align-items: center;
    &.preloader {
      max-height: 539px;
      min-height: 539px;
    }
  }
  .main__news-subs {
    display: none;
  }
  .main__news-info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__news-title {
    font-size: 32px;
    span {
      letter-spacing: 0;
    }
  }
  .main__news-title:before {
    font-size: 140px;
  }
  .main__actual-wrapper {
    margin-bottom: 70px;
  }
  .main__news-btn {
    display: none;
  }
  .main__news-btn.mobile {
    display: block;
  }
  .main__news-subtitle {
    display: block;
    font-size: 18px;
    color: #2d2d2d;
    margin-bottom: 30px;
  }
  .main__news-mob-slider {
    margin-bottom: 40px!important;
  }
  .main__insta-img.mobile {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__insta-info {
    display: none;
  }
  .main__insta-pics {
    width: 100%;
    .slick-dots {
      bottom: -23px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      display: flex !important;
      align-items: center;
      line-height: 0;
      font-size: 0;
      color: transparent;
      border: none;
      outline: none;
      li {
        width: 5px;
        height: 5px;
        border: none;
        margin: 0;
        border-radius: 50%;
        transition: all 0.4s ease;
        box-sizing: content-box;
        line-height: 1;
        font-size: 0;
        background-color: #bbbdbe;
      }
      li:not(:last-child) {
        margin-right: 3px;
      }
      li.slick-active {
        background-color: #000;
        border-color: #000;
      }
      button {
        display: none;
      }
    }
  }
  .main__insta-title {
    font-size: 18px;
  }
  .main__insta-link {
    font-size: 14px;
  }
  .main__insta-subtitle {
    font-size: 12px;
  }
  .main__insta-pics {
    .slick-initialized .slick-slide {
      display: flex!important;
    }
  }
  .main__insta-pics {
    .slick-slide > div {
      display: flex;
    }
  }
  .main__insta-hiddentext {
    display: block;
  }
  .main__insta-wrapper {
    margin-bottom: 40px;
  }
  .checkout__aside {
    width: 260px;
  }
  .checkout__order-text b {
    font-weight: 700;
    font-size: 14px;
  }
  .checkout__content {
    width: calc(100% - 280px);
  }
  .checkout__delpay-wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
  .checkout__delpay {
    margin-bottom: 30px;
  }
  .checkout__promo input {
    width: 120px;
  }
  .catalog__head {
    display: none;
  }
  .catalog__line {
    padding-top: 15px;
  }
  .catalog__mobile-nav {
    margin-bottom: 30px;
  }
  .catalog__box-item {
    width: 260px;
  }
  .catalog__box-content {
    height: 364px;
  }
  .catalog__sort {
    display: none;
  }
  .catalog__filter span {
    display: none;
  }
  .catalog__filter span.mobile {
    display: inline-block;
  }
  .catalog__filter .ico-add {
    display: none;
  }
  .catalog__box:after {
    display: none;
  }
  .filter__sort {
    display: block;
    .catalog__sort {
      display: flex;
    }
  }
  .catalog__head {
    display: none;
  }
  .catalog__line {
    padding-top: 15px;
  }
  .catalog__mobile-nav {
    margin-bottom: 30px;
  }
  .catalog__box-item {
    width: 260px;
  }
  .catalog__box-content {
    height: 364px;
  }
  .catalog__sort {
    display: none;
  }
  .catalog__filter span {
    display: none;
  }
  .catalog__filter span.mobile {
    display: inline-block;
  }
  .catalog__filter .ico-add {
    display: none;
  }
  .catalog__box:after {
    display: none;
  }
  .filter {
    padding: 20px;
    width: 320px;
  }
  .filter__line {
    margin-bottom: 20px;
  }
  .filter__wrapper {
    margin-bottom: 10px;
  }
  .filter__result {
    margin-bottom: 20px;
  }
  .filter__btns {
    margin-bottom: 25px;
  }
  .filter__text p {
    text-align: center;
  }
  .filter__btns {
    flex-wrap: wrap;
    a {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .filter__line .catalog__filter span {
    font-size: 14px;
  }
  .payment .return__info--bold {
    margin: 13px 0;
  }
  .payment .ico-online {
    left: -14px;
  }
  .payment .return__title br {
    display: none;
  }
  .payment .delivery__box .return__desc {
    padding-right: 0;
  }
}
@media screen and (max-width: 543px) {
  .header__menu-btn {
    width: 31px;
    height: 15px;
  }
  .header__line-logo a {
    width: 100px;
    height: 20px;
  }
  .header__ico-bag {
    width: 18px;
    height: 19px;
  }
  .header__ico-bag-nubmer {
    right: auto;
    left: calc(100% + 3px);
    top: 2px;
  }
  .header__line-logo {
    margin-top: 4px;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 25px;
  }
  .main__top-slider {
    position: relative;
    &.preloader {
      max-height: 350px;
      min-height: 350px;
    }
  }
  .main__slider-info {
    width: 100%;
    padding: 115px 20px 15px 45px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .main__slider {
    height: 450px;
    img {
      height: 100%;
    }
  }
  .main__slider .slick-list {
    height: 100%;
  }
  .main__slider .slick-track {
    height: 100%;
  }
  .main__slider-title {
    line-height: 1;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .main__slider-subtitle {
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    max-width: 80%;
  }
  .main__slider-text-item .btn {
    padding: 12px 5px 10px;
    max-width: 160px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
  .main__top-slider {
    margin-bottom: 0;
    margin: 0 -15px;
  }
  .main__slider-info .slick-dots li {
    width: 5px;
    height: 5px;
    border: none;
    background-color: #bbbdbe;
  }
  .main__slider-info .slick-dots li.slick-active {
    background-color: #fff;
  }
  .main__slider {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      filter: contrast(130%);
    }
  }
  .main__slider-info .slick-slider {
    position: static;
    height: 100%;
  }
  .main__slider-info .slick-dots {
    left: auto;
    bottom: 19px;
    right: 39px;
    width: auto;
  }
  .main__slider-text .slick-list {
    height: 100%;
  }
  .main__collection-mobile-slider,
  .main__collection-mobile-slider-title {
    width: 270px;
  }
  .main__collection-mobile-slider-title h2 span {
    max-width: 147px;
  }
  .main__collection-mobile-slider-title {
    height: 50px;
  }
  .main__collection-subtitle {
    padding: 10px 25px 6px 20px;
  }
  .main__collection-mobile-slider .slick-dots {
    bottom: 12px;
    left: 20px;
  }
  .main__collection-mobile {
    padding-top: 10px;
  }
  .main__collection-mobile:after {
    width: 70%;
    height: calc(100% - 65px);
  }
  .main__actual-img {
    width: auto;
    height: 190px;
    margin-bottom: 5px;
  }
  .main__actual-text {
    font-size: 12px;
    margin-bottom: 0;
  }
  .main__actual-title {
    display: none;
  }
  .main__actual-item.mobile {
    display: flex;
    .main__actual-img {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    span {
      position: relative;
      display: inline-block;
      font-size: 18px;
      line-height: 1;
      color: #000;
      padding-left: 55px;
      letter-spacing: -.5px;
      &:before {
        position: absolute;
        content: '02';
        font-weight: 100;
        font-size: 48px;
        color: #a0a0a0;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }
  .main__actual-arrows {
    display: none;
  }
  .main__actual-btn .btn {
    max-width: 160px;
  }
  .main__actual-slider.second {
    display: block;
  }
  .main__actual-slider {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .main__actual {
    padding: 0;
  }
  .main__news-title {
    font-size: 18px;
    line-height: 36px;
    margin-left: 24px;
    margin-bottom: 10px;
  }
  .main__news-subtitle {
    display: none;
  }
  .main__news-title:before {
    font-size: 48px;
    color: #a0a0a0;
    left: -35px;
  }
  .main__actual-wrapper {
    margin-bottom: 30px;
  }
  .main__news-title i {
    width: 105px;
    height: 14px;
  }
  .main__insta-wrapper {
    margin-bottom: 30px;
  }
  .checkout__form {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .checkout__content {
    width: 100%;
  }
  .checkout__title {
    font-size: 16px;
  }
  .checkout__subtitle {
    font-size: 12px;
    font-weight: 400;
    max-width: 100%;
  }
  .checkout__data-row:not(:last-child) {
    margin-bottom: 5px;
  }
  .checkout__title--second {
    margin-bottom: 5px;
  }
  .checkout__delpay-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .checkout__delpay-block {
    padding-left: 25px;
  }
  .checkout__delpay-wrapper:not(:last-child) {
    margin-bottom: 15px;
  }
  .checkout__aside {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    border: none;
  }
  .checkout__aside-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
  }
  .checkout__order-img-info {
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .cart .checkout__order-price {
    display: none;
  }
  .cart .checkout__order-price.mobile {
    display: flex;
    justify-content: flex-start;
  }
  .cart .checkout__order-info {
    margin-top: -5px;
  }
  .cart .checkout__order-price.mobile span {
    font-size: 16px;
    padding-top: 5px;
  }
  .checkout__order {
    padding-bottom: 15px;
  }
  .checkout__promo input {
    width: calc(100% - 120px);
  }
  .checkbox .checkbox-text {
    font-size: 12px;
    line-height: 1.4;
    color: #252525;
    font-weight: 400;
  }
  .checkout__mobile .checkbox {
    align-items: center;
  }
  .checkout__order-edit a {
    font-weight: 400;
  }
  .checkout__info span {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    color: #252525;
    font-weight: 400;
  }
  .checkout__info {
    margin-bottom: 25px;
  }
  .checkout__agreement {
    margin-bottom: 25px;
  }
  .checkout__btn .btn {
    max-width: 100%;
    width: 290px;
    display: inline-block;
  }
  .catalog__box-item {
    width: calc(50% - 10px);
    margin-bottom: 15px;
  }
  .catalog__box-content {
    height: auto;
    padding-top: 140%;
    margin-bottom: 10px;
  }
  .catalog__box-name {
    font-size: 12px;
    margin-bottom: 0;
  }
  .catalog__wrapper {
    margin-bottom: 30px;
  }
  .catalog__box {
    margin-bottom: 10px;
  }
  .filter {
    padding: 20px 15px;
    width: 100%;
  }
  .card .catalog__box-content {
    width: auto;
    height: 190px;
  }
  .catalog__box-item.slick-slide {
    margin: 0 10px;
  }
  .main__actual-slider .slick-list {
    margin: 0 -10px;
  }
}

@media screen and (max-width: 370px) {
  .main__actual-item.mobile span {
    font-size: 15px;
  }
}

.catalog__box-item.mobile {
  display: block;
}
