.footer {
  background-color: #2d2d2d;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 24px;
  }
  &__menu-wrapper {
    margin-bottom: 52px;
  }
  &__menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &:not(:last-of-type) {
      margin-bottom: 17px;
    }
  }
  &__menu-item {
    font-size: 14px;
    color: #fff;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    &:not(:last-child) {
      margin-right: 18px;
    }
    &:hover {
      color: #a5a5a5;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 45px;
  }
  &__social-item {
    display: inline-block;
    position: relative;
    svg {
      fill: #fff;
      -webkit-transition: fill 0.2s ease;
      transition: fill 0.2s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &:hover {
      svg {
        fill: #a5a5a5;
      }
    }
    &.fb {
      width: 9px;
      height: 17px;
    }
    &.insta {
      width: 17px;
      height: 17px;
    }
    &.vk {
      width: 31px;
      height: 17px;
    }
    &.ytube {
      width: 26px;
      height: 20px;
    }
    &:not(:last-child) {
      margin-right: 55px;
    }
  }
  &__copy {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    margin-bottom: 1px;
  }
  &__text {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    margin-bottom: 21px;
  }
  &__site {
    display: inline-block;
    font-weight: 300;
    font-size: 11px;
    color: #fff;
    a {
      display: inline-block;
      margin-left: 2px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}