.header {
  &__hint {
    position: relative;
    padding: 10px 0 11px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    i {
      right: 49px;
      top: 14px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      svg {
        fill: #fff;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
      }
      &:hover {
        svg {
          opacity: .8;
        }
      }
    }
  }
  &__hint-text {
    font-size: 16px;
    color: #fff;
  }
  &__line-wrapper {
    border-bottom: 1px solid #f1f4f4;
  }
  &__line {
    display: flex;
    padding: 5px 0;
    height: 78px;
    justify-content: space-between;
    align-items: center;
  }
  &__line-phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      color: #2d2d2d;
      &:before {
        -webkit-transition: opacity 0.2s ease;
        transition: opacity  0.2s ease;
        opacity: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #2d2d2d;
        left: 0;
        bottom: -1px;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      &:not(:last-child) {
        margin-right: 18px;
        &:after {
          content: '|';
          font-size: 14px;
          font-weight: 500;
          color: #2d2d2d;
          position: absolute;
          right: -11px;
          top: -1px;
        }
      }
    }
  }
  &__line-logo {
    flex-shrink: 0;
    padding-right: 68px;
    a {
      display: inline-block;
      position: relative;
      width: 152px;
      height: 21px;
      flex-shrink: 0;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #58595b;
      }
    }
  }
  &__line-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    a {
      flex-shrink: 0;
      display: inline-block;
      position: relative;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &:hover {
        opacity: .9;
      }
    }
  }
  &__ico-lang {
    width: 24px;
    height: 17px;
    &.ru {
      background: url("../img/pngsprite/ru.png") no-repeat center;
    }
    &.en {
      background: url("../img/pngsprite/en.png") no-repeat center;
    }
  }
  &__ico-box {
    width: 29px;
    height: 23px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__ico-user {
    width: 17px;
    height: 22px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: #2d2d2d;
    }
  }
  &__ico-bag {
    width: 22px;
    height: 23px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: #2d2d2d;
    }
  }
  &__ico-bag-nubmer {
    position: absolute;
    left: calc(100% + 5px);
    top: 5px;
    font-size: 14px;
    color: #2d2d2d;
  }
  &__menu-wrapper {
    margin-bottom: 3px;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search-wrapper {
    margin-bottom: 45px;
  }
  &__search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__search-form {
    max-width: 300px;
    width: 100%;
    border-bottom: 1px solid #2d2d2d;
    .search {
      width: 100%;
      text-align: center;
      padding: 9px 15px 8px;
      border: none;
      outline: none;
      font-size: 16px;
      color: #2d2d2d;
      -webkit-appearance: none;
    }
  }
  &__menu-btn {
    position: relative;
    display: none;
    width: 40px;
    height: 20px;
    cursor: pointer;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: #2d2d2d;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  &__item {
    display: inline-block;
    cursor: pointer;
    padding: 23px 22px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #2d2d2d;
      .menu__item-link {
        color: #fff;
      }
      .menu__submenu {
        display: flex;
      }
    }
    &.active {
      .menu__submenu {
        //display: flex;
      }
      .menu__item-link {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 100%;
          height: 1px;
          background-color: #2d2d2d;
        }
      }
    }
  }
  &__item-link {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #2d2d2d;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
  &__submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 543px;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.3);
    padding: 23px 33px 23px 21px;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 6;
    background-color: #fff;
  }
  &__submenu-content {
    column-count: 4;
    width: calc(100% - 262px);

  }
  &__submenu-block {
    display: flex;
    flex-direction: column;
    width: 240px;
    break-inside: avoid-column;
    &--others {
      padding-top: 29px;
      position: relative;
      a {
        text-transform: uppercase;
        font-weight: 700;
        padding: 3px 5px 4px 15px!important;
        letter-spacing: 0!important;
        &:not(:last-child) {
          margin-bottom: 0!important;
        }
      }
      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 15px);
        height: 1px;
        left: 15px;
        top: 13px;
        background-color: #f2f5f5;
      }
    }
    &:not(:last-child) {
      margin-bottom: 7px;
      margin-right: 10px;
    }
    a {
      color: #2d2d2d;
      display: block;
      padding: 7px 5px 6px 15px;
      background-color: #fff;
      font-size: 14px;
      letter-spacing: -.7px;
      &:hover {
        color: #fff;
        background-color: #2d2d2d;
      }
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
  &__submenu-content-img {
    position: relative;
    width: 220px;
    height: 480px;
    margin-top: 11px;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

    }
    span {
      text-align: center;
      width: 100%;
      display: inline-block;
      padding: 0 20px;
      position: absolute;
      font-size: 24px;
      color: #fff;
      left: 50%;
      top: 56.3%;
      transform: translate(-50%,-50%);
      svg {
        width: 80px;
        height: 80px;
        fill: #fff;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: -94px;
      }
    }
  }
  &__submenu-title {
    font-weight: 700;
  }
  &__submenu-link {
    font-weight: 300;
  }
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 300px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  &>* {
    width: 100%;
  }
  &__wrapper {
    overflow-y: scroll;
    height: calc(100vh + 52px);
    &::-webkit-scrollbar {display: none;}
  }
  .menu__submenu-link {
    padding: 0;
    display: none;
  }
  .menu__submenu-content {
    column-count: auto;
    width: 100%;
  }
  .menu__submenu-block:not(:last-child) {
    margin-bottom: 7px;
    margin-right: 0;
  }
  .menu__submenu-block {
    width: 100%;
    break-inside: auto;
  }
  .menu__submenu-block a {
    font-weight: 300;
    padding: 3px 0;
  }
  &__logo {
    height: 58px;
    border-bottom: 1px solid #e2dedf;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    i {
      width: 100px;
      height: 20px;
      margin-left: 15px;
    }
  }
  &__search {
    input {
      background-color: #fafafa;
      font-size: 14px;
      padding: 11px 15px 11px;
      -webkit-appearance: none;
      margin-bottom: 15px;
    }
  }
  &__close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 19px;
    right: 16px;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: #2d2d2d;
      left: 0;
      top: 0;
    }
  }
  &__title {
    display: block;
    color: #2d2d2d;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 18px;
  }
  &__catalog {
    padding: 0 15px;
    margin-bottom: 21px;
  }
  &__search {
    margin-bottom: 20px;
  }
  &__name {
    & > span {
      display: block;
      position: relative;
      text-transform: uppercase;
      font-weight: 300;
      color: #2d2d2d;
      font-size: 14px;
      &>i {
        position: absolute;
        width: 13px;
        height: 13px;
        right: 0;
        top: 0;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: url("../img/svg/add.svg") no-repeat center;
        }
      }
    }
    &.active {
      .menu-mobile__submenu-content {
        display: block;
      }
      span i {
        &:after {
          background: url("../img/svg/remove.svg") no-repeat center;
        }
      }
    }
  }
  &__item {
    padding: 0 10px;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__submenu-content {
    display: none;
    padding-top: 9px;
    &:empty {
      padding-top: 0;
    }
  }
  .menu__submenu-title {
    position: relative;
    display: block;
    i {
      position: absolute;
      width: 13px;
      height: 13px;
      right: 0;
      top: 4px;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../img/svg/add.svg") no-repeat center;
      }
    }
  }
  .menu__submenu-block {
    a:hover {
      color: #2d2d2d;
      background-color: #fff;
    }
    &.active {
      .menu__submenu-title {
        margin-bottom: 5px;
      }
      .menu__submenu-link {
        display: block;
        padding: 6px 0 6px 36px;
      }
      .menu__submenu-title i {
        &:after {
          background: url("../img/svg/remove.svg") no-repeat center;
        }
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    padding: 15px 27px 13px;
    border-bottom: 1px solid #e2dedf;
    a {
      font-size: 16px;
      line-height: 30px;
      color: #2d2d2d;
      display: inline-block;
      font-weight: 500;
      &:first-child {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          top: -17px;
          background-color: #e2dedf;
        }
      }
    }
  }
  &__lk {
    padding: 12px 16px 15px;
    border-bottom: 1px solid #e2dedf;
  }
  &__lk-title {
    font-size: 16px;
    line-height: 30px;
    color: #2d2d2d;
    font-weight: 500;
    margin-bottom: 9px;
  }
  &__lk-item {
    display: flex;
    flex-direction: column;
    a {
      position: relative;
      padding-left: 49px;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      color: #2d2d2d;
      svg {
        fill: #2d2d2d;
        position: absolute;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  &__lk-login {
    svg {
      width: 15px;
      height: 19px;
      left: 18px;
      top: 3px;
    }
  }
  &__lk-order{
    svg {
      width: 29px;
      height: 23px;
      left: 10px;
      top: 3px;
    }
  }
  &__customer {
    padding: 12px 16px 12px;
    border-bottom: 1px solid #e2dedf;
  }
  &__customer-title {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #2d2d2d;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__customer-list {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    a {
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
      color: #2d2d2d;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  &__other {
    padding: 17px 66px;
    a {
      position: relative;
      display: block;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
      color: #2d2d2d;
      svg {
        position: absolute;
        fill: #2d2d2d;
      }
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    .header__ico-lang {
      position: absolute;
      left: -38px;
      top: 5px;
    }
  }
  &__other-shops {
    svg {
      width: 19px;
      height: 25px;
      left: -35px;
      top: 3px;
    }
  }
  &__other-lang {

  }
  &__button {
    padding: 0 15px;
    margin-top: 15px;
    .btn {width: 100%;}
  }
  &__button {
    padding: 15px;
    .btn {width: 100%;}
  }
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 11;
}

/* main site style */

.search-scroll-container {
  padding: 0 15px;
  max-height: 539px;
  overflow-y: auto;
}

.search-scroll-container::-webkit-scrollbar {
  display: none;
}

.jspContainer{
  position:relative;
}
.jspPane{
  overflow:hidden;
}

.search-wrapp {
  position: relative;
}

.form__search-submite {
  font-size:0;
  line-height:0;
  outline:none !important;
  top: 0;
  text-indent:-9999px;
  overflow:hidden;
  height:32px;
  background-position:10px 50%;
  margin:0;
  padding:0;
}

.form__search-list li.form__search-item {
  position:relative !important;
  display:block;
  left:auto !important;
  margin-bottom: 12px;
}

.form__search-link {
  display: block;
  padding: 4px 16px;
  color: #252525;
  font-family: 'Robotoregular', sans-serif;
}
.form__search-link:hover {
  background: #e5e2e2;
  text-decoration: none;
}

.form__search-title {
  margin-bottom: 4px;
  font-size: 1rem;
}
.form__search-title b {
  color: #7ac8f0;
}

.form__search-desc {
  font-size: 0.8125rem;
}

.form__search-list li {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 3px;
  padding: 3px 0;
}

li.search-text-only {
  border-bottom: 1px solid #ccccce;
}

li.search-text-only a, .form__search-list a.catalog__desc-name {
  display: block;
  width: 100%;
  color: #252525;
}

li.search-text-only a:hover, .form__search-list a.catalog__desc-name:hover {
  text-decoration: none;
  color: #7b7b7b;
}

li.search-text-only b {
  font-weight: normal;
  color: #7b7b7b;
}

.search-product-info {
  margin-left: 10px;
}

.form__search-list .catalog__desc-name {
  margin: 5px 0 10px;
}

.form__search-list .catalog__desc-sign {
  font-weight: bold;
}

.form__search-list .search-no-image {
  height: 90px;
}

.form__search-list h3 {
  margin: 10px 0 5px;
  text-transform: uppercase;
}

.catalog__desc-link {min-width: 64px;width: 64px; height: 90px;}
